openapi: 3.0.3
info:
  contact:
    name: ca_public_api
    url: https://api-accounting.moneyforward.com
  description: |
    # 基本情報
    当社との提携パートナーを除き、個別のお問い合わせへの対応や技術サポートの提供は原則として行っておりませんので、あらかじめご了承ください。<br />

    # リリースノート
    APIの新機能や重要な変更は[リリースノート](/release-notes)でお知らせいたします。<br />
    最新情報を受け取るため、[RSSフィード](/rss.xml)の購読を推奨いたします。<br />

    # API仕様書のダウンロード
    生成AIへのインプット情報として本仕様書のテキスト情報(yaml形式)が必要な場合は<a download href="/v3/openapi.yaml">こちら</a>からダウンロードしてください。<br />

    # 認証
    全てのAPIは、OAuth 2.0 を 用いて認証と認可を行います。<br />
    OAuth 2.0に従って、アクセストークンを取得してください。<br />
    取得したアクセストークンを Bearer Tokenとして Authorization Headerに付与する事で、APIリクエストが可能になります。<br />

    # エラーレスポンス
    全てのAPIは3種類のステータスコード（2xx, 4xx, 5xx）を返却します。<br />
    4xx, 5xx の場合は共通のレスポンスフォーマットでエラー用のレスポンスボディを返却します。<br />
    エラーレスポンスにはエラーと同じ数の要素を含む配列が用意され、それぞれエラーの種別である code とエラー内容の message を含みます。<br />

    # Rate limiter
    [ドキュメントのリンク](/rate_limiter)
  title: マネーフォワード クラウド会計API
  version: V3
servers:
  - description: 本番環境
    url: https://api-accounting.moneyforward.com
tags:
  - description: 勘定科目API
    name: Accounts
  - description: 事業者情報API
    name: Office
  - description: 仕訳帳API
    name: Journals
  - description: 証憑API
    name: Vouchers
  - description: 部門API
    name: Departments
  - description: 税区分API
    name: Taxes
  - description: 補助科目API
    name: SubAccounts
  - description: 残高試算表（BS）取得API
    name: TrialBalanceBalanceSheet
  - description: 残高試算表（PL）取得API
    name: TrialBalanceProfitLoss
  - description: 推移表（BS）取得API
    name: TransitionBalanceSheet
  - description: 推移表（PL）取得API
    name: TransitionProfitLoss
  - description: 取引先API
    name: TradePartners
  - description: 連携サービスAPI
    name: ConnectedAccounts
  - description: 明細API
    name: Transactions
  - description: 会計年度設定API
    name: TermSettings
paths:
  /api/v3/accounts:
    get:
      deprecated: false
      description: 勘定科目を取得します。
      operationId: getAccounts
      parameters:
        - description: nil
          in: query
          name: available
          required: false
          schema:
            example: true
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/accounts.read
      summary: 勘定科目の取得
      tags:
        - Accounts
  /api/v3/connected_accounts:
    get:
      deprecated: false
      description: 連携サービスを取得します。
      operationId: getConnectedAccounts
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedAccountsResponse'
          description: 成功
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/connected_account.read
      summary: 連携サービスの取得
      tags:
        - ConnectedAccounts
  /api/v3/offices:
    get:
      description: |-
        事業者情報と会計期間を取得します。<br />
        複数の会計期間が存在する場合、`accounting_periods`が配列で返却されます。<br />
        会計期間は開始日の降順で出力され、会計期間がない場合はエラーが発生します。
      operationId: currentOffice
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse409'
          description: 状態が不正でリクエストを処理できない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/offices.read
      summary: 事業者情報の取得
      tags:
        - Office
  /api/v3/journals:
    get:
      deprecated: false
      description: |-
        会計期間や仕訳日付などの条件を指定して、仕訳一覧を取得します。<br />
        start_date または end_dateのいずれかを指定する必要があります。指定された日付が含まれる会計期間の仕訳のみが返却されます。
      operationId: getJournals
      parameters:
        - description: 対象期間の開始日を指定します。各仕訳の取引日が基準になります。
          in: query
          name: start_date
          required: false
          schema:
            example: '2022-04-01'
            format: date
            type: string
        - description: 対象期間の終了日を指定します。各仕訳の取引日が基準になります。
          in: query
          name: end_date
          required: false
          schema:
            example: '2023-03-31'
            format: date
            type: string
        - description: |-
            勘定科目ID<br />
            指定された勘定科目を借方貸方のいずれかに持つ仕訳のみが返却されます。
          in: query
          name: account_id
          required: false
          schema:
            type: string
        - description: |-
            未実現の仕訳であるかを指定するフラグ<br />
            指定しない場合は全ての仕訳が返却されます。
          in: query
          name: is_realized
          required: false
          schema:
            example: false
            type: boolean
        - description: 明細IDでフィルタします（複数指定可）。
          explode: true
          in: query
          name: transaction_ids
          required: false
          schema:
            example:
              - BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              - CowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            items:
              type: string
            maxItems: 50
            type: array
          style: form
        - description: ページ番号
          in: query
          name: page
          required: false
          schema:
            default: 1
            example: 2
            minimum: 1
            type: integer
            x-go-type: uint64
        - description: 1ページあたりの件数
          in: query
          name: per_page
          required: false
          schema:
            default: 10
            example: 10
            maximum: 10000
            minimum: 1
            type: integer
            x-go-type: uint64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJournalsResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJournals_400_response'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/journal.read
      summary: 仕訳一覧の取得
      tags:
        - Journals
    post:
      deprecated: false
      description: 仕訳を作成します。
      operationId: postJournals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRUDJournalRequest'
        description: リクエストボディ
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRUDJournalResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJournals_400_response'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: リクエストのContent-Typeがサポートされていない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/journal.write
      summary: 仕訳の作成
      tags:
        - Journals
  /api/v3/journals/{id}:
    delete:
      deprecated: false
      description: 指定された仕訳IDを持つ現在の事業者内の特定の仕訳を削除します。必要に応じて利用前にバックアップを取得してください。
      operationId: deleteJournals
      parameters:
        - description: 必要なIDを指定します。
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJournals_400_response'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/journal.write
      summary: 仕訳の削除
      tags:
        - Journals
    get:
      deprecated: false
      description: 指定された仕訳IDで現在の事業者の特定の仕訳を返します。
      operationId: getJournalById
      parameters:
        - description: 必要なIDを指定します。
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRUDJournalResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJournals_400_response'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/journal.read
      summary: 仕訳の取得
      tags:
        - Journals
    put:
      deprecated: false
      description: 指定された仕訳IDを使用して、現在の事業者の特定の仕訳を更新します。
      operationId: putJournals
      parameters:
        - description: 必要なIDを指定します。
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRUDJournalRequest'
        description: リクエストボディ
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRUDJournalResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJournals_400_response'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: リクエストのContent-Typeがサポートされていない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/journal.write
      summary: 仕訳の更新
      tags:
        - Journals
  /api/v3/vouchers:
    delete:
      deprecated: false
      description: 仕訳と証憑の関連付けを解除します。
      operationId: deleteVouchers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteVouchersRequest'
        description: リクエストボディ
        required: true
      responses:
        '204':
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postVouchers_400_response'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherErrorResponse'
          description: 指定された証憑が見つかりません
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: リクエストのContent-Typeがサポートされていない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/voucher.write
      summary: 証憑の添付解除
      tags:
        - Vouchers
    post:
      deprecated: false
      description: 証憑を新規に保存します。<br>詳細は<a href="/specs/vouchers">こちらのドキュメント</a>をご覧ください。
      operationId: postVouchers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostVouchersRequest'
        description: リクエストボディ
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostVouchersResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postVouchers_400_response'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: リクエストのContent-Typeがサポートされていない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/voucher.write
      summary: 証憑の新規保存
      tags:
        - Vouchers
  /api/v3/transactions:
    get:
      deprecated: false
      description: |
        連携サービスで収集された明細一覧を取得します。
        連携サービスを絞り込む場合は、connected_account_idまたはconnected_sub_account_idを指定します。
      operationId: getTransactions
      parameters:
        - description: 取得対象の開始日を指定します（YYYY-MM-DD形式）。end_dateとの差は366日以内である必要があります。
          in: query
          name: start_date
          required: true
          schema:
            example: '2024-04-01'
            format: date
            type: string
        - description: 取得対象の終了日を指定します（YYYY-MM-DD形式）。start_dateとの差は366日以内である必要があります。
          in: query
          name: end_date
          required: true
          schema:
            example: '2025-03-31'
            format: date
            type: string
        - description: 絞り込む連携サービスのIDを指定します。connected_sub_account_idと同時に指定することはできません。
          in: query
          name: connected_account_id
          required: false
          schema:
            example: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            type: string
        - description: 絞り込む口座のIDを指定します。省略した場合、connected_account_idに紐づく全ての口座が対象になります。connected_account_idと同時に指定することはできません。
          in: query
          name: connected_sub_account_id
          required: false
          schema:
            example: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
            type: string
        - description: 最小金額（円）。指定する場合はsideが必須です。
          in: query
          name: value_min
          required: false
          schema:
            example: 1000
            maximum: 999999999999
            minimum: 0
            type: integer
        - description: 最大金額（円）。指定する場合はsideが必須です。
          in: query
          name: value_max
          required: false
          schema:
            example: 100000
            maximum: 999999999999
            minimum: 0
            type: integer
        - description: 取引の収支種別でフィルタします。value_minおよびvalue_maxを省略した場合、指定した収支種別の全範囲が適用されます。value_minまたはvalue_maxを指定する場合は必須です。
          in: query
          name: side
          required: false
          schema:
            enum:
              - INCOME
              - EXPENSE
            example: EXPENSE
            type: string
        - description: 取引内容でフィルタします。マッチ方法はcontent_match_typeで指定します。
          in: query
          name: content
          required: false
          schema:
            example: Supermarket
            type: string
        - description: |-
            取引内容のマッチ方法を指定します。contentが指定されていない場合は無視されます。<br />
            - exact: 完全一致<br />
            - partial: 部分一致（デフォルト）<br />
            - forward: 前方一致<br />
            - backward: 後方一致
          in: query
          name: content_match_type
          required: false
          schema:
            default: partial
            enum:
              - exact
              - partial
              - forward
              - backward
            example: partial
            type: string
        - description: |-
            仕訳化ステータスでフィルタします（複数指定可）。省略した場合は全ステータスが対象になります。<br />
            - excluded: 対象外<br />
            - none: 未仕訳<br />
            - registered: 仕訳済み<br />
            - modified: 仕訳後に明細が変更された<br />
            - new_voucher_attached: 仕訳後に初回証憑が添付された
          explode: true
          in: query
          name: journalizing_statuses
          required: false
          schema:
            example:
              - none
              - registered
            items:
              enum:
                - excluded
                - none
                - registered
                - modified
                - new_voucher_attached
              type: string
            type: array
          style: form
        - description: 取引日によるソート順を指定します。省略した場合はdescが適用されます。
          in: query
          name: order
          required: false
          schema:
            default: desc
            enum:
              - asc
              - desc
            example: desc
            type: string
        - description: ページ番号
          in: query
          name: page
          required: false
          schema:
            default: 1
            example: 2
            minimum: 1
            type: integer
            x-go-type: uint64
        - description: '1ページあたりの件数（デフォルト: 50、最小: 10、最大: 1000）'
          in: query
          name: per_page
          required: false
          schema:
            default: 50
            example: 50
            maximum: 1000
            minimum: 10
            type: integer
            x-go-type: uint64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionsResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/transaction.read
      summary: 明細一覧の取得
      tags:
        - Transactions
    post:
      deprecated: false
      description: 明細を作成します。
      operationId: postTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTransactionsRequest'
        description: リクエストボディ
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTransactionsResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionErrorResponse'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: リクエストのContent-Typeがサポートされていない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/transaction.write
      summary: 明細の作成
      tags:
        - Transactions
  /api/v3/transactions/journalize:
    post:
      deprecated: false
      description: 指定された明細から仕訳を作成します。
      operationId: postTransactionJournalize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTransactionJournalizeRequest'
        description: リクエストボディ
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRUDJournalResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: リクエストのContent-Typeがサポートされていない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/journal.write
      summary: 明細からの仕訳作成
      tags:
        - Transactions
  /api/v3/departments:
    get:
      deprecated: false
      description: 部門を取得します。
      operationId: getDepartments
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/departments.read
      summary: 部門の取得
      tags:
        - Departments
  /api/v3/taxes:
    get:
      deprecated: false
      description: 税区分を取得します。
      operationId: getTaxes
      parameters:
        - description: nil
          in: query
          name: available
          required: false
          schema:
            example: true
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/taxes.read
      summary: 税区分の取得
      tags:
        - Taxes
  /api/v3/sub_accounts:
    get:
      deprecated: false
      description: 補助科目を取得します。
      operationId: getSubAccounts
      parameters:
        - description: 勘定科目ID
          in: query
          name: account_id
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubAccountResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/accounts.read
      summary: 補助科目の取得
      tags:
        - SubAccounts
  /api/v3/reports/trial_balance_bs:
    get:
      description: |-
        残高試算表の貸借対照表を取得します。<br />
        全ての項目の金額が0の勘定科目、補助科目と一部の決算書の項目は返却されません。<br />
        残高試算表の columns は
         
         - opening_balance(前期残高)
         - debit_amount(借方金額)
         - credit_amount(貸方金額)
         - closing_balance(期末残高)
         - ratio(構成比)

        が固定で返却されます。<br />

        また、未実現仕訳は含まれず、常に全部門合計で集計されます。<br />

        ratio(構成比) は分母が 0 の場合は算出不能として 0 ではなく null となります。<br />
      operationId: getReportsTrialBalanceBalanceSheet
      parameters:
        - description: |-
            会計年度を指定します。<br />
            指定しない場合は最新の会計年度が使用されます。
          example: 2022
          in: query
          name: fiscal_year
          required: false
          schema:
            type: integer
            x-go-type: uint64
        - description: |-
            対象会計年度の集計開始月を指定します。<br />
            `fiscal_year` と組み合わせて集計開始月を指定できます。<br />
            指定しない場合は会計年度の開始月が使用されます。
          in: query
          name: start_month
          required: false
          schema:
            example: 2
            type: integer
        - description: |-
            対象会計年度の集計終了月を指定します。<br />
            `fiscal_year` と組み合わせて集計終了月を指定できます。<br />
            指定しない場合は会計年度の終了月が使用されます。
          in: query
          name: end_month
          required: false
          schema:
            example: 2
            type: integer
        - description: 対象期間の開始日を指定します。
          in: query
          name: start_date
          required: false
          schema:
            example: '2022-04-01'
            format: date
            type: string
        - description: 対象期間の終了日を指定します。
          in: query
          name: end_date
          required: false
          schema:
            example: '2023-03-31'
            format: date
            type: string
        - description: 勘定科目に紐づく補助科目の金額を取得するかどうかを指定します。
          in: query
          name: with_sub_accounts
          required: false
          schema:
            default: false
            example: true
            type: boolean
        - description: |-
            税込で算出するかどうかを指定します。<br />
            「事業者設定＞経理方式」が「税抜（内税）」の場合のみ指定可能です。<br />
            「税込」および「税抜（別記）」の経理方式の場合、このパラメーターは無視されます。
          in: query
          name: include_tax
          required: false
          schema:
            default: false
            example: true
            type: boolean
        - description: |-
            対象の仕訳の種別を指定します。<br />
            `journal_entry`（通常仕訳）、`adjusting_entry`（決算整理仕訳）のいずれか一方、または両方を指定できます。<br />
            省略した場合は、両方の種別が対象になります。
          in: query
          name: journal_types
          required: false
          schema:
            example:
              - journal_entry
              - adjusting_entry
            items:
              enum:
                - journal_entry
                - adjusting_entry
              type: string
              x-go-type: string
            type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportsTrialBalanceBalanceSheet_400_response'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/report.read
      summary: 残高試算表の貸借対照表の取得
      tags:
        - TrialBalanceBalanceSheet
  /api/v3/reports/trial_balance_pl:
    get:
      description: |-
        残高試算表の損益計算書を取得します。<br />
        全ての項目の金額が0の勘定科目、補助科目と一部の決算書の項目は返却されません。<br />
        残高試算表の columns は
         
         - opening_balance(前期残高)
         - debit_amount(借方金額)
         - credit_amount(貸方金額)
         - closing_balance(期末残高)
         - ratio(構成比)

        が固定で返却されます。<br />

        また、未実現仕訳は含まれず、常に全部門合計で集計されます。<br />

        ratio(構成比) は分母が 0 の場合は算出不能として 0 ではなく null となります。<br />
      operationId: getReportsTrialBalanceProfitLoss
      parameters:
        - description: |-
            会計年度を指定します。<br />
            指定しない場合は最新の会計年度が使用されます。
          example: 2022
          in: query
          name: fiscal_year
          required: false
          schema:
            type: integer
            x-go-type: uint64
        - description: |-
            対象会計年度の集計開始月を指定します。<br />
            `fiscal_year` と組み合わせて集計開始月を指定できます。<br />
            指定しない場合は会計年度の開始月が使用されます。
          in: query
          name: start_month
          required: false
          schema:
            example: 2
            type: integer
        - description: |-
            対象会計年度の集計終了月を指定します。<br />
            `fiscal_year` と組み合わせて集計終了月を指定できます。<br />
            指定しない場合は会計年度の終了月が使用されます。
          in: query
          name: end_month
          required: false
          schema:
            example: 2
            type: integer
        - description: 対象期間の開始日を指定します。
          in: query
          name: start_date
          required: false
          schema:
            example: '2022-04-01'
            format: date
            type: string
        - description: 対象期間の終了日を指定します。
          in: query
          name: end_date
          required: false
          schema:
            example: '2023-03-31'
            format: date
            type: string
        - description: 勘定科目に紐づく補助科目の金額を取得するかどうかを指定します。
          in: query
          name: with_sub_accounts
          required: false
          schema:
            default: false
            example: true
            type: boolean
        - description: |-
            税込で算出するかどうかを指定します。<br />
            「事業者設定＞経理方式」が「税抜（内税）」の場合のみ指定可能です。<br />
            「税込」および「税抜（別記）」の経理方式の場合、このパラメーターは無視されます。
          in: query
          name: include_tax
          required: false
          schema:
            default: false
            example: true
            type: boolean
        - description: |-
            対象の仕訳の種別を指定します。<br />
            `journal_entry`（通常仕訳）、`adjusting_entry`（決算整理仕訳）のいずれか一方、または両方を指定できます。<br />
            省略した場合は、両方の種別が対象になります。
          in: query
          name: journal_types
          required: false
          schema:
            example:
              - journal_entry
              - adjusting_entry
            items:
              enum:
                - journal_entry
                - adjusting_entry
              type: string
              x-go-type: string
            type: array
      responses:
        '200':
          content:
            application/json:
              example:
                columns:
                  - opening_balance
                  - debit_amount
                  - credit_amount
                  - closing_balance
                  - ratio
                start_date: '2022-04-01'
                created_at: '2023-07-05T15:54:43.446000+09:00'
                report_type: trial_balance_pl
                end_date: '2023-03-31'
                rows:
                  - name: 売上高合計
                    rows:
                      - name: 売上高
                        rows: null
                        type: account
                        values:
                          - 0
                          - 0
                          - 1395134
                          - 1395134
                          - 98.1
                      - name: 売上値引・返品
                        rows: null
                        type: account
                        values:
                          - 0
                          - 11092
                          - 38502
                          - -27410
                          - -1.9
                    type: financial_statement_item
                    values:
                      - 0
                      - 11092
                      - 1433636
                      - 1422544
                      - 100
                  - name: 売上原価
                    rows:
                      - name: 期首商品棚卸高
                        rows: null
                        type: account
                        values:
                          - 0
                          - 4350
                          - 5000
                          - -650
                          - 0
                      - name: 仕入高
                        rows: null
                        type: account
                        values:
                          - 0
                          - 134805
                          - 21170
                          - 113635
                          - 8
                      - name: 仕入値引・返品
                        rows: null
                        type: account
                        values:
                          - 0
                          - 22728
                          - 2500
                          - -20228
                          - -1.4
                      - name: 当期製品製造原価
                        rows: []
                        type: financial_statement_item
                        values:
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                      - name: 他勘定振替高
                        rows: null
                        type: account
                        values:
                          - 0
                          - 0
                          - 13680
                          - 13680
                          - 1
                      - name: 期末商品棚卸高
                        rows: null
                        type: account
                        values:
                          - 0
                          - 8600
                          - 39731
                          - 31131
                          - 2.2
                    type: financial_statement_item
                    values:
                      - 0
                      - 170483
                      - 82081
                      - 88402
                      - 6.2
                  - name: 営業外費用合計
                    rows:
                      - name: 支払利息
                        rows: null
                        type: account
                        values:
                          - 0
                          - 5500
                          - 33150
                          - -27650
                          - -1.9
                      - name: 雑損失
                        rows: null
                        type: account
                        values:
                          - 0
                          - 6819
                          - 0
                          - 6819
                          - 0.5
                      - name: 売上割引
                        rows: null
                        type: account
                        values:
                          - 0
                          - 0
                          - 22728
                          - -22728
                          - -1.6
                    type: financial_statement_item
                    values:
                      - 0
                      - 12319
                      - 55878
                      - -43559
                      - -3.1
                  - name: 期末仕掛品棚卸高
                    rows: []
                    type: financial_statement_item
                    values:
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                  - name: 他勘定振替高
                    rows: []
                    type: financial_statement_item
                    values:
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                  - name: 当期製品製造原価
                    rows: []
                    type: financial_statement_item
                    values:
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
              schema:
                $ref: '#/components/schemas/TBResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportsTrialBalanceBalanceSheet_400_response'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/report.read
      summary: 残高試算表の損益計算書の取得
      tags:
        - TrialBalanceProfitLoss
  /api/v3/reports/transition_bs:
    get:
      description: |-
        推移表の貸借対照表を取得します。<br />
        現在は月次のみサポートされています。<br />
        全ての項目の金額が0の勘定科目、補助科目と一部の決算書の項目は返却されません。<br />
        また、未実現仕訳は含まれず、常に全部門合計で集計されます。<br />
        推移表の columns は指定した期間の値が返却されます。<br />
      operationId: getReportsTransitionBalanceSheet
      parameters:
        - description: |-
            推移表の集計タイプを指定します。<br />
            現在は 'monthly' のみがサポートされています。<br />
            - monthly: 月次集計
          in: query
          name: type
          required: true
          schema:
            enum:
              - monthly
            example: monthly
            type: string
        - description: |-
            会計年度を指定します。<br />
            指定しない場合は最新の会計年度が使用されます。
          example: 2021
          in: query
          name: fiscal_year
          required: false
          schema:
            type: integer
            x-go-type: uint64
        - description: |-
            対象会計年度の集計開始月を指定します。<br />
            `fiscal_year` と組み合わせて集計開始月を指定できます。<br />
            指定しない場合は会計年度の開始月が使用されます。
          in: query
          name: start_month
          required: false
          schema:
            example: 2
            type: integer
        - description: |-
            対象会計年度の集計終了月を指定します。<br />
            `fiscal_year` と組み合わせて集計終了月を指定できます。<br />
            指定しない場合は会計年度の終了月が使用されます。
          in: query
          name: end_month
          required: false
          schema:
            example: 2
            type: integer
        - description: 勘定科目に紐づく補助科目の金額を取得するかどうかを指定します。
          in: query
          name: with_sub_accounts
          required: false
          schema:
            default: false
            example: true
            type: boolean
        - description: |-
            税込で算出するかどうかを指定します。<br />
            「事業者設定＞経理方式」が「税抜（内税）」の場合のみ指定可能です。<br />
            「税込」および「税抜（別記）」の経理方式の場合、このパラメーターは無視されます。
          in: query
          name: include_tax
          required: false
          schema:
            default: false
            example: true
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionErrorResponse'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/report.read
      summary: 推移表の貸借対照表の取得
      tags:
        - TransitionBalanceSheet
  /api/v3/reports/transition_pl:
    get:
      description: |-
        推移表の損益計算書を取得します。<br />
        現在は月次のみサポートされています。<br />
        全ての項目の金額が0の勘定科目、補助科目と一部の決算書の項目は返却されません。<br />
        また、未実現仕訳は含まれず、常に全部門合計で集計されます。<br />
        推移表の columns は指定した期間の値が返却されます。<br />
      operationId: getReportsTransitionProfitLoss
      parameters:
        - description: |-
            推移表の集計タイプを指定します。<br />
            現在は 'monthly' のみがサポートされています。<br />
            - monthly: 月次集計
          in: query
          name: type
          required: true
          schema:
            enum:
              - monthly
            example: monthly
            type: string
        - description: |-
            会計年度を指定します。<br />
            指定しない場合は最新の会計年度が使用されます。
          example: 2021
          in: query
          name: fiscal_year
          required: false
          schema:
            type: integer
            x-go-type: uint64
        - description: |-
            対象会計年度の集計開始月を指定します。<br />
            `fiscal_year` と組み合わせて集計開始月を指定できます。<br />
            指定しない場合は会計年度の開始月が使用されます。
          in: query
          name: start_month
          required: false
          schema:
            example: 2
            type: integer
        - description: |-
            対象会計年度の集計終了月を指定します。<br />
            `fiscal_year` と組み合わせて集計終了月を指定できます。<br />
            指定しない場合は会計年度の終了月が使用されます。
          in: query
          name: end_month
          required: false
          schema:
            example: 2
            type: integer
        - description: 勘定科目に紐づく補助科目の金額を取得するかどうかを指定します。
          in: query
          name: with_sub_accounts
          required: false
          schema:
            default: false
            example: true
            type: boolean
        - description: |-
            税込で算出するかどうかを指定します。<br />
            「事業者設定＞経理方式」が「税抜（内税）」の場合のみ指定可能です。<br />
            「税込」および「税抜（別記）」の経理方式の場合、このパラメーターは無視されます。
          in: query
          name: include_tax
          required: false
          schema:
            default: false
            example: true
            type: boolean
      responses:
        '200':
          content:
            application/json:
              example:
                fiscal_year: 2022
                columns:
                  - '4'
                  - '5'
                  - '6'
                  - '7'
                  - '8'
                  - '9'
                  - '10'
                  - '11'
                  - '12'
                  - '1'
                  - '2'
                  - '3'
                  - settlement_balance
                  - total
                start_month: 4
                created_at: '2023-07-05T17:38:23.750000+09:00'
                report_type: transition_pl
                end_month: 3
                rows:
                  - name: 売上高合計
                    rows:
                      - name: 売上高
                        rows: null
                        type: account
                        values:
                          - 25587
                          - 9091
                          - 293182
                          - 0
                          - 6910
                          - 233091
                          - 0
                          - 818182
                          - 0
                          - 0
                          - 0
                          - 0
                          - 9091
                          - 1395134
                      - name: 売上値引・返品
                        rows: null
                        type: account
                        values:
                          - -9455
                          - 0
                          - -3955
                          - -11819
                          - 6910
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - -9091
                          - -27410
                    type: financial_statement_item
                    values:
                      - 35042
                      - 9091
                      - 297137
                      - 11819
                      - 0
                      - 233091
                      - 0
                      - 818182
                      - 0
                      - 0
                      - 0
                      - 0
                      - 18182
                      - 1422544
                  - name: 売上原価
                    rows:
                      - name: 期首商品棚卸高
                        rows: null
                        type: account
                        values:
                          - 0
                          - -5000
                          - 4350
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - -650
                      - name: 仕入高
                        rows: null
                        type: account
                        values:
                          - 67109
                          - 45945
                          - 0
                          - 5841
                          - 0
                          - 0
                          - -5260
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 113635
                      - name: 仕入値引・返品
                        rows: null
                        type: account
                        values:
                          - 2500
                          - -13637
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - -9091
                          - -20228
                      - name: 当期製品製造原価
                        rows: []
                        type: financial_statement_item
                        values:
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                      - name: 他勘定振替高
                        rows: null
                        type: account
                        values:
                          - 0
                          - 0
                          - 5080
                          - 0
                          - 8600
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 13680
                      - name: 期末商品棚卸高
                        rows: null
                        type: account
                        values:
                          - 33731
                          - 0
                          - 0
                          - 6000
                          - -8600
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 0
                          - 31131
                    type: financial_statement_item
                    values:
                      - 30878
                      - 54582
                      - -730
                      - -159
                      - 0
                      - 0
                      - -5260
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 9091
                      - 88402
                  - name: 材料費合計
                    rows: []
                    type: financial_statement_item
                    values:
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                  - name: 期末仕掛品棚卸高
                    rows: []
                    type: financial_statement_item
                    values:
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                  - name: 他勘定振替高
                    rows: []
                    type: financial_statement_item
                    values:
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                  - name: 当期製品製造原価
                    rows: []
                    type: financial_statement_item
                    values:
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
                      - 0
              schema:
                $ref: '#/components/schemas/TransitionResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionErrorResponse'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/report.read
      summary: 推移表の損益計算書の取得
      tags:
        - TransitionProfitLoss
  /api/v3/trade_partners:
    get:
      description: 取引先を取得します。
      operationId: getTradePartners
      parameters:
        - description: nil
          in: query
          name: available
          required: false
          schema:
            example: true
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradePartnersResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/trade_partners.read
      summary: 取引先の取得
      tags:
        - TradePartners
    post:
      description: 取引先を作成します。
      operationId: postTradePartners
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTradePartnersRequest'
        required: true
        description: nil
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradePartnersResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postTradePartners_400_response'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: リクエストのContent-Typeがサポートされていない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/trade_partners.write
      summary: 取引先の作成
      tags:
        - TradePartners
  /api/v3/term_settings:
    get:
      description: |-
        全ての会計年度設定を取得します。<br />
        会計年度は開始日の降順でソートされます。
      operationId: getTermSettings
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermSettingsResponse'
          description: 成功
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: リクエストのパラメータが不正
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: アクセストークンが設定されていない、不正、または失効済
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: 認可されていない権限で利用ができない
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse409'
          description: 状態が不正でリクエストを処理できない
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: rate limitによる制限対象
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: 予期しないエラー
      security:
        - OAuth2:
            - mfc/accounting/offices.read
      summary: 会計年度設定の取得
      tags:
        - TermSettings
components:
  parameters:
    Available:
      description: nil
      in: query
      name: available
      required: false
      schema:
        example: true
        type: boolean
    JournalStartDate:
      description: 対象期間の開始日を指定します。各仕訳の取引日が基準になります。
      in: query
      name: start_date
      required: false
      schema:
        example: '2022-04-01'
        format: date
        type: string
    JournalEndDate:
      description: 対象期間の終了日を指定します。各仕訳の取引日が基準になります。
      in: query
      name: end_date
      required: false
      schema:
        example: '2023-03-31'
        format: date
        type: string
    AccountIDJournal:
      description: |-
        勘定科目ID<br />
        指定された勘定科目を借方貸方のいずれかに持つ仕訳のみが返却されます。
      in: query
      name: account_id
      required: false
      schema:
        type: string
    IsRealized:
      description: |-
        未実現の仕訳であるかを指定するフラグ<br />
        指定しない場合は全ての仕訳が返却されます。
      in: query
      name: is_realized
      required: false
      schema:
        example: false
        type: boolean
    TransactionIds:
      description: 明細IDでフィルタします（複数指定可）。
      explode: true
      in: query
      name: transaction_ids
      required: false
      schema:
        example:
          - BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          - CowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
        items:
          type: string
        maxItems: 50
        type: array
      style: form
    Page:
      description: ページ番号
      in: query
      name: page
      required: false
      schema:
        default: 1
        example: 2
        minimum: 1
        type: integer
        x-go-type: uint64
    JournalsPerPage:
      description: 1ページあたりの件数
      in: query
      name: per_page
      required: false
      schema:
        default: 10
        example: 10
        maximum: 10000
        minimum: 1
        type: integer
        x-go-type: uint64
    Id:
      description: 必要なIDを指定します。
      in: path
      name: id
      required: true
      schema:
        type: string
    StartDate:
      description: 取得対象の開始日を指定します（YYYY-MM-DD形式）。end_dateとの差は366日以内である必要があります。
      in: query
      name: start_date
      required: true
      schema:
        example: '2024-04-01'
        format: date
        type: string
    EndDate:
      description: 取得対象の終了日を指定します（YYYY-MM-DD形式）。start_dateとの差は366日以内である必要があります。
      in: query
      name: end_date
      required: true
      schema:
        example: '2025-03-31'
        format: date
        type: string
    ConnectedAccountId:
      description: 絞り込む連携サービスのIDを指定します。connected_sub_account_idと同時に指定することはできません。
      in: query
      name: connected_account_id
      required: false
      schema:
        example: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
        type: string
    ConnectedSubAccountId:
      description: 絞り込む口座のIDを指定します。省略した場合、connected_account_idに紐づく全ての口座が対象になります。connected_account_idと同時に指定することはできません。
      in: query
      name: connected_sub_account_id
      required: false
      schema:
        example: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
        type: string
    ValueMin:
      description: 最小金額（円）。指定する場合はsideが必須です。
      in: query
      name: value_min
      required: false
      schema:
        example: 1000
        maximum: 999999999999
        minimum: 0
        type: integer
    ValueMax:
      description: 最大金額（円）。指定する場合はsideが必須です。
      in: query
      name: value_max
      required: false
      schema:
        example: 100000
        maximum: 999999999999
        minimum: 0
        type: integer
    Side:
      description: 取引の収支種別でフィルタします。value_minおよびvalue_maxを省略した場合、指定した収支種別の全範囲が適用されます。value_minまたはvalue_maxを指定する場合は必須です。
      in: query
      name: side
      required: false
      schema:
        enum:
          - INCOME
          - EXPENSE
        example: EXPENSE
        type: string
    Content:
      description: 取引内容でフィルタします。マッチ方法はcontent_match_typeで指定します。
      in: query
      name: content
      required: false
      schema:
        example: Supermarket
        type: string
    ContentMatchType:
      description: |-
        取引内容のマッチ方法を指定します。contentが指定されていない場合は無視されます。<br />
        - exact: 完全一致<br />
        - partial: 部分一致（デフォルト）<br />
        - forward: 前方一致<br />
        - backward: 後方一致
      in: query
      name: content_match_type
      required: false
      schema:
        default: partial
        enum:
          - exact
          - partial
          - forward
          - backward
        example: partial
        type: string
    JournalizingStatuses:
      description: |-
        仕訳化ステータスでフィルタします（複数指定可）。省略した場合は全ステータスが対象になります。<br />
        - excluded: 対象外<br />
        - none: 未仕訳<br />
        - registered: 仕訳済み<br />
        - modified: 仕訳後に明細が変更された<br />
        - new_voucher_attached: 仕訳後に初回証憑が添付された
      explode: true
      in: query
      name: journalizing_statuses
      required: false
      schema:
        example:
          - none
          - registered
        items:
          enum:
            - excluded
            - none
            - registered
            - modified
            - new_voucher_attached
          type: string
        type: array
      style: form
    Order:
      description: 取引日によるソート順を指定します。省略した場合はdescが適用されます。
      in: query
      name: order
      required: false
      schema:
        default: desc
        enum:
          - asc
          - desc
        example: desc
        type: string
    TransactionsPerPage:
      description: '1ページあたりの件数（デフォルト: 50、最小: 10、最大: 1000）'
      in: query
      name: per_page
      required: false
      schema:
        default: 50
        example: 50
        maximum: 1000
        minimum: 10
        type: integer
        x-go-type: uint64
    AccountIDSubAccount:
      description: 勘定科目ID
      in: query
      name: account_id
      required: false
      schema:
        type: string
    FiscalYearTB:
      description: |-
        会計年度を指定します。<br />
        指定しない場合は最新の会計年度が使用されます。
      example: 2022
      in: query
      name: fiscal_year
      required: false
      schema:
        type: integer
        x-go-type: uint64
    StartMonthTB:
      description: |-
        対象会計年度の集計開始月を指定します。<br />
        `fiscal_year` と組み合わせて集計開始月を指定できます。<br />
        指定しない場合は会計年度の開始月が使用されます。
      in: query
      name: start_month
      required: false
      schema:
        example: 2
        type: integer
    EndMonthTB:
      description: |-
        対象会計年度の集計終了月を指定します。<br />
        `fiscal_year` と組み合わせて集計終了月を指定できます。<br />
        指定しない場合は会計年度の終了月が使用されます。
      in: query
      name: end_month
      required: false
      schema:
        example: 2
        type: integer
    TrialBalanceStartDate:
      description: 対象期間の開始日を指定します。
      in: query
      name: start_date
      required: false
      schema:
        example: '2022-04-01'
        format: date
        type: string
    TrialBalanceEndDate:
      description: 対象期間の終了日を指定します。
      in: query
      name: end_date
      required: false
      schema:
        example: '2023-03-31'
        format: date
        type: string
    WithSubAccounts:
      description: 勘定科目に紐づく補助科目の金額を取得するかどうかを指定します。
      in: query
      name: with_sub_accounts
      required: false
      schema:
        default: false
        example: true
        type: boolean
    IncludeTax:
      description: |-
        税込で算出するかどうかを指定します。<br />
        「事業者設定＞経理方式」が「税抜（内税）」の場合のみ指定可能です。<br />
        「税込」および「税抜（別記）」の経理方式の場合、このパラメーターは無視されます。
      in: query
      name: include_tax
      required: false
      schema:
        default: false
        example: true
        type: boolean
    JournalTypes:
      description: |-
        対象の仕訳の種別を指定します。<br />
        `journal_entry`（通常仕訳）、`adjusting_entry`（決算整理仕訳）のいずれか一方、または両方を指定できます。<br />
        省略した場合は、両方の種別が対象になります。
      in: query
      name: journal_types
      required: false
      schema:
        example:
          - journal_entry
          - adjusting_entry
        items:
          enum:
            - journal_entry
            - adjusting_entry
          type: string
          x-go-type: string
        type: array
    TransitionType:
      description: |-
        推移表の集計タイプを指定します。<br />
        現在は 'monthly' のみがサポートされています。<br />
        - monthly: 月次集計
      in: query
      name: type
      required: true
      schema:
        enum:
          - monthly
        example: monthly
        type: string
    TransitionFiscalYear:
      description: |-
        会計年度を指定します。<br />
        指定しない場合は最新の会計年度が使用されます。
      example: 2021
      in: query
      name: fiscal_year
      required: false
      schema:
        type: integer
        x-go-type: uint64
    TransitionStartMonth:
      description: |-
        対象会計年度の集計開始月を指定します。<br />
        `fiscal_year` と組み合わせて集計開始月を指定できます。<br />
        指定しない場合は会計年度の開始月が使用されます。
      in: query
      name: start_month
      required: false
      schema:
        example: 2
        type: integer
    TransitionEndMonth:
      description: |-
        対象会計年度の集計終了月を指定します。<br />
        `fiscal_year` と組み合わせて集計終了月を指定できます。<br />
        指定しない場合は会計年度の終了月が使用されます。
      in: query
      name: end_month
      required: false
      schema:
        example: 2
        type: integer
  schemas:
    AccountResponse:
      example:
        accounts:
          - search_key: 現金
            account_group: ASSET
            sub_accounts:
              - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                search_key: 現金
                name: 小口現金
                id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
                tax_id: 3uHWBCFlkrY_QmW0yo06Eg
              - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                search_key: 現金
                name: 小口現金
                id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
                tax_id: 3uHWBCFlkrY_QmW0yo06Eg
            name: 現金
            available: true
            id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            category: CASH_AND_DEPOSITS
            financial_statement_type: BALANCE_SHEET
            tax_id: 3uHWBCFlkrY_QmW0yo06Eg
          - search_key: 現金
            account_group: ASSET
            sub_accounts:
              - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                search_key: 現金
                name: 小口現金
                id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
                tax_id: 3uHWBCFlkrY_QmW0yo06Eg
              - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                search_key: 現金
                name: 小口現金
                id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
                tax_id: 3uHWBCFlkrY_QmW0yo06Eg
            name: 現金
            available: true
            id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            category: CASH_AND_DEPOSITS
            financial_statement_type: BALANCE_SHEET
            tax_id: 3uHWBCFlkrY_QmW0yo06Eg
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/Account'
          type: array
      required:
        - accounts
      type: object
    GetJournalsResponse:
      example:
        metadata:
          total_count: 101
          total_pages: 101
        journals:
          - entered_by: JOURNAL_TYPE_NORMAL
            branches:
              - remark: ''
                creditor:
                  value: 345200
                  tax_value: 0
                  account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                  account_name: 現金
                  tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                  tax_name: 対象外
                  tax_long_name: 対象外
                  sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                  sub_account_name: 小口現金
                  invoice_kind: INVOICE_KIND_NOT_TARGET
                  trade_partner_code: A0000000001
                  trade_partner_name: 株式会社マネーフォワードベンチャー
                debitor:
                  value: 345200
                  tax_value: 0
                  account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                  account_name: 現金
                  tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                  tax_name: 対象外
                  tax_long_name: 対象外
                  department_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                  department_name: Home
                  sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                  sub_account_name: 小口現金
                  invoice_kind: INVOICE_KIND_NOT_TARGET
                  trade_partner_code: A0000000001
                  trade_partner_name: 株式会社マネーフォワードベンチャー
            create_time: '2023-01-12T04:50:11Z'
            id: tfAQxNx%2BSnC9teuXKMjdYNpEVoee%2F%2Bn%2B97E9vQmfAupTjPMQ0eZt3lRC7IeI%2FN1L
            number: 1
            is_realized: true
            journal_type: journal_entry
            memo: ''
            tags: []
            transaction_date: '2022-04-04'
            update_time: '2023-01-12T04:50:12Z'
            term_period: 2022
            voucher_file_ids: []
            transaction_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        journals:
          example:
            - entered_by: JOURNAL_TYPE_NORMAL
              branches:
                - remark: ''
                  creditor:
                    value: 345200
                    tax_value: 0
                    account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                    account_name: 現金
                    tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                    tax_name: 対象外
                    tax_long_name: 対象外
                    sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                    sub_account_name: 小口現金
                    invoice_kind: INVOICE_KIND_NOT_TARGET
                    trade_partner_code: A0000000001
                    trade_partner_name: 株式会社マネーフォワードベンチャー
                  debitor:
                    value: 345200
                    tax_value: 0
                    account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                    account_name: 現金
                    tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                    tax_name: 対象外
                    tax_long_name: 対象外
                    department_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                    department_name: Home
                    sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                    sub_account_name: 小口現金
                    invoice_kind: INVOICE_KIND_NOT_TARGET
                    trade_partner_code: A0000000001
                    trade_partner_name: 株式会社マネーフォワードベンチャー
              create_time: '2023-01-12T04:50:11Z'
              id: tfAQxNx%2BSnC9teuXKMjdYNpEVoee%2F%2Bn%2B97E9vQmfAupTjPMQ0eZt3lRC7IeI%2FN1L
              number: 1
              is_realized: true
              journal_type: journal_entry
              memo: ''
              tags: []
              transaction_date: '2022-04-04'
              update_time: '2023-01-12T04:50:12Z'
              term_period: 2022
              voucher_file_ids: []
              transaction_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          items:
            $ref: '#/components/schemas/JournalItem'
          type: array
      required:
        - journals
        - metadata
      type: object
    CRUDJournalRequest:
      example:
        journal:
          transaction_date: '2015-04-28'
          journal_type: journal_entry
          memo: Memo
          tags:
            - tag1
            - tag2
          branches:
            - creditor:
                value: 100
                tax_id: 3uHWBCFlkrY_QmW0yo06Eg
                account_id: owMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                department_id: 3uHWBCFlkrY_QmW0yo06Eg
                sub_account_id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
                trade_partner_code: A0000000001
                invoice_kind: INVOICE_KIND_QUALIFIED
              debitor:
                value: 100
                tax_id: 3uHWBCFlkrY_QmW0yo06Eg
                account_id: owMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                department_id: 3uHWBCFlkrY_QmW0yo06Eg
                sub_account_id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
                trade_partner_code: A0000000001
                invoice_kind: INVOICE_KIND_QUALIFIED
              remark: Sell furniture for 100 yen
            - creditor:
                value: 1000
                tax_id: 3uHWBCFlkrY_QmW0yo06Eg
                account_id: owMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                department_id: 3uHWBCFlkrY_QmW0yo06Eg
                sub_account_id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
                trade_partner_code: A0000000001
                invoice_kind: INVOICE_KIND_QUALIFIED
              debitor:
                value: 1000
                tax_id: 3uHWBCFlkrY_QmW0yo06Eg
                account_id: owMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                department_id: 3uHWBCFlkrY_QmW0yo06Eg
                sub_account_id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
                trade_partner_code: A0000000001
                invoice_kind: INVOICE_KIND_QUALIFIED
              remark: Sell furniture for 1000 yen
      properties:
        journal:
          $ref: '#/components/schemas/CRUDJournalRequest_journal'
      required:
        - journal
      type: object
    CRUDJournalResponse:
      example:
        journal:
          entered_by: JOURNAL_TYPE_NORMAL
          branches:
            - remark: ''
              creditor:
                value: 345200
                tax_value: 0
                account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                account_name: 現金
                tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                tax_name: 対象外
                tax_long_name: 対象外
                sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                sub_account_name: 小口現金
                invoice_kind: INVOICE_KIND_NOT_TARGET
                trade_partner_code: A0000000001
                trade_partner_name: 株式会社マネーフォワードベンチャー
              debitor:
                value: 345200
                tax_value: 0
                account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                account_name: 現金
                tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                tax_name: 対象外
                tax_long_name: 対象外
                department_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                department_name: Home
                sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                sub_account_name: 小口現金
                invoice_kind: INVOICE_KIND_NOT_TARGET
                trade_partner_code: A0000000001
                trade_partner_name: 株式会社マネーフォワードベンチャー
          create_time: '2023-01-12T04:50:11Z'
          id: tfAQxNx%2BSnC9teuXKMjdYNpEVoee%2F%2Bn%2B97E9vQmfAupTjPMQ0eZt3lRC7IeI%2FN1L
          number: 1
          is_realized: true
          journal_type: journal_entry
          memo: ''
          tags: []
          transaction_date: '2022-04-04'
          update_time: '2023-01-12T04:50:12Z'
          term_period: 2022
          voucher_file_ids: []
          transaction_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
      properties:
        journal:
          $ref: '#/components/schemas/JournalItem'
      required:
        - journal
      type: object
    PostVouchersRequest:
      example:
        journal_id: JournalId
        voucher_files:
          - file_name: file1
            file_data: YmFzZTY044Ko44Oz44Kz44O844OH44Kj44Oz44Kw
          - file_name: file2
            file_data: YmFzZTY044Ko44Oz44Kz44O844OH44Kj44Oz44Kw
      properties:
        journal_id:
          description: 証憑を添付する仕訳ID
          example: JournalId
          nullable: true
          type: string
        voucher_files:
          description: 証憑のリスト
          items:
            $ref: '#/components/schemas/PostVouchersRequest_voucher_files_inner'
          nullable: false
          type: array
      required:
        - voucher_files
      type: object
    PostVouchersResponse:
      example:
        voucher_file_ids:
          - file_name: file1
            file_id: a60cd25d-c0bc-46cf-b2af-3614e21b7fe5
          - file_name: file2
            file_id: 032520a9-cc6d-4f75-9068-37c5ee1b7092
      properties:
        voucher_file_ids:
          description: 証憑IDのリスト
          items:
            $ref: '#/components/schemas/PostVouchersResponse_voucher_file_ids_inner'
          nullable: false
          type: array
      required:
        - voucher_file_ids
      type: object
    DeleteVouchersRequest:
      example:
        journal_id: JournalId
        voucher_file_id: a60cd25d-c0bc-46cf-b2af-3614e21b7fe5
      properties:
        journal_id:
          description: 証憑が添付されている仕訳ID
          example: JournalId
          nullable: false
          type: string
        voucher_file_id:
          description: 添付解除する証憑ID
          example: a60cd25d-c0bc-46cf-b2af-3614e21b7fe5
          nullable: false
          type: string
      required:
        - journal_id
        - voucher_file_id
      type: object
    DepartmentResponse:
      example:
        departments:
          - search_key: code
            parent_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            name: Development Department
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
          - search_key: code
            parent_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            name: Development Department
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
      properties:
        departments:
          items:
            $ref: '#/components/schemas/Department'
          type: array
      required:
        - departments
      type: object
    TaxResponse:
      example:
        taxes:
          - search_key: Sales not covered
            name: Taxable sales 10% of total
            available: true
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
            abbreviation: Section sales 10%
            tax_rate: 0.08
          - search_key: Sales not covered
            name: Taxable sales 10% of total
            available: true
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
            abbreviation: Section sales 10%
            tax_rate: 0.08
      properties:
        taxes:
          items:
            $ref: '#/components/schemas/Tax'
          type: array
      required:
        - taxes
      type: object
    Account:
      example:
        search_key: 現金
        account_group: ASSET
        sub_accounts:
          - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            search_key: 現金
            name: 小口現金
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
            tax_id: 3uHWBCFlkrY_QmW0yo06Eg
          - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            search_key: 現金
            name: 小口現金
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
            tax_id: 3uHWBCFlkrY_QmW0yo06Eg
        name: 現金
        available: true
        id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
        category: CASH_AND_DEPOSITS
        financial_statement_type: BALANCE_SHEET
        tax_id: 3uHWBCFlkrY_QmW0yo06Eg
      properties:
        id:
          description: 勘定科目ID
          example: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          nullable: false
          type: string
        financial_statement_type:
          description: 財務諸表区分
          enum:
            - BALANCE_SHEET
            - PROFIT_LOSS
            - COST_REPORT
            - REAL_ESTATE
            - UNKNOWN
          example: BALANCE_SHEET
          nullable: false
          type: string
        name:
          description: 勘定科目名称
          example: 現金
          nullable: false
          type: string
        available:
          description: 有効
          example: true
          nullable: false
          type: boolean
        tax_id:
          description: 税区分ID
          example: 3uHWBCFlkrY_QmW0yo06Eg
          nullable: false
          type: string
        search_key:
          description: 検索キー
          example: 現金
          nullable: true
          type: string
        sub_accounts:
          items:
            $ref: '#/components/schemas/SubAccount'
          nullable: false
          type: array
        account_group:
          $ref: '#/components/schemas/AccountGroups'
        category:
          description: |2-
             - "CASH_AND_DEPOSITS": 現金及び預金
             - "TRADE_RECEIVABLES": 売上債権
             - "MARKETABLE_SECURITIES": 有価証券
             - "INVENTORIES": 棚卸資産
             - "OTHER_CURRENT_ASSETS": その他流動資産
             - "PROPERTY_PLANT_AND_EQUIPMENT": 有形固定資産
             - "INTANGIBLE_ASSETS": 無形固定資産
             - "INVESTMENTS_AND_OTHER_ASSETS": 投資その他の資産
             - "DEFERRED_ASSETS": 繰延資産
             - "OWNERS_DRAWINGS": 事業主貸
             - "SUNDRIES": 諸口
             - "TRADE_PAYABLES": 仕入債務
             - "OTHER_CURRENT_LIABILITIES": その他流動負債
             - "NON_CURRENT_LIABILITIES": 固定負債
             - "EQUITY": 資本の部
             - "OWNERS_CAPITAL": 事業主借
             - "SALES_REVENUE": 売上（収入）金額
             - "BEGINNING_MERCHANDISE_INVENTORY": 期首商品（製品）棚卸高
             - "COST_OF_PURCHASED_GOODS": 当期仕入高
             - "ENDING_MERCHANDISE_INVENTORY": 期末商品（製品）棚卸高
             - "EXPENSES": 経費
             - "REVERSALS": 繰戻額等
             - "PROVISIONS": 繰入額等
             - "BEGINNING_RAW_MATERIALS": 期首原材料棚卸高
             - "COST_OF_RAW_MATERIALS": 原材料仕入高
             - "ENDING_RAW_MATERIALS": 期末原材料棚卸高
             - "LABOR_COSTS": 労務費
             - "OTHER_MANUFACTURING_EXPENSES": その他の製造経費
             - "BEGINNING_SEMI_FINISHED_AND_WIP": 期首半製品・仕掛品棚卸高
             - "ENDING_SEMI_FINISHED_AND_WIP": 期末半製品・仕掛品棚卸高
             - "REAL_ESTATE_INCOME": 収入金額_不動産
             - "REAL_ESTATE_EXPENSES": 必要経費_不動産
             - "REAL_ESTATE_EMPLOYEE_SALARY": 専従者給与_不動産
             - "CAPITAL_STOCK": 資本金
             - "STOCK_SUBSCRIPTION_DEPOSITS": 新株式申込証拠金
             - "LEGAL_CAPITAL_SURPLUS": 資本準備金
             - "OTHER_CAPITAL_SURPLUS": その他資本剰余金
             - "LEGAL_RETAINED_EARNINGS": 利益準備金
             - "APPROPRIATED_RETAINED_EARNINGS": 積立金等
             - "RETAINED_EARNINGS_BROUGHT_FORWARD": 繰越利益剰余金
             - "TREASURY_STOCK": 自己株式
             - "TREASURY_STOCK_SUBSCRIPTION_DEPOSITS": 自己株式申込証拠金
             - "VALUATION_AND_TRANSLATION_ADJUSTMENTS": 評価・換算差額等
             - "SUBSCRIPTION_RIGHTS_TO_SHARES": 新株予約権
             - "NET_SALES": 売上高
             - "BEGINNING_INVENTORY": 期首棚卸高
             - "TRANSFERS_TO_OTHER_ACCOUNTS": 他勘定振替高
             - "ENDING_INVENTORY": 期末棚卸高
             - "SELLING_GENERAL_AND_ADMINISTRATIVE_EXPENSES": 販売費及び一般管理費
             - "NON_OPERATING_INCOME": 営業外収益
             - "NON_OPERATING_EXPENSES": 営業外費用
             - "EXTRAORDINARY_INCOME": 特別利益
             - "EXTRAORDINARY_LOSSES": 特別損失
             - "CORPORATE_INCOME_TAXES_CURRENT": 法人税等
             - "CORPORATE_INCOME_TAXES_DEFERRED": 法人税等調整額
             - "BEGINNING_MATERIALS": 期首材料棚卸高
             - "COST_OF_MATERIALS": 当期材料仕入高
             - "ENDING_MATERIALS": 期末材料棚卸高
             - "MANUFACTURING_EXPENSES": 製造経費
             - "BEGINNING_WORK_IN_PROCESS": 期首仕掛品棚卸高
             - "ENDING_WORK_IN_PROCESS": 期末仕掛品棚卸高
          enum:
            - CASH_AND_DEPOSITS
            - TRADE_RECEIVABLES
            - MARKETABLE_SECURITIES
            - INVENTORIES
            - OTHER_CURRENT_ASSETS
            - PROPERTY_PLANT_AND_EQUIPMENT
            - INTANGIBLE_ASSETS
            - INVESTMENTS_AND_OTHER_ASSETS
            - DEFERRED_ASSETS
            - OWNERS_DRAWINGS
            - SUNDRIES
            - TRADE_PAYABLES
            - OTHER_CURRENT_LIABILITIES
            - NON_CURRENT_LIABILITIES
            - EQUITY
            - OWNERS_CAPITAL
            - SALES_REVENUE
            - BEGINNING_MERCHANDISE_INVENTORY
            - COST_OF_PURCHASED_GOODS
            - ENDING_MERCHANDISE_INVENTORY
            - EXPENSES
            - REVERSALS
            - PROVISIONS
            - BEGINNING_RAW_MATERIALS
            - COST_OF_RAW_MATERIALS
            - ENDING_RAW_MATERIALS
            - LABOR_COSTS
            - OTHER_MANUFACTURING_EXPENSES
            - BEGINNING_SEMI_FINISHED_AND_WIP
            - ENDING_SEMI_FINISHED_AND_WIP
            - REAL_ESTATE_INCOME
            - REAL_ESTATE_EXPENSES
            - REAL_ESTATE_EMPLOYEE_SALARY
            - CAPITAL_STOCK
            - STOCK_SUBSCRIPTION_DEPOSITS
            - LEGAL_CAPITAL_SURPLUS
            - OTHER_CAPITAL_SURPLUS
            - LEGAL_RETAINED_EARNINGS
            - APPROPRIATED_RETAINED_EARNINGS
            - RETAINED_EARNINGS_BROUGHT_FORWARD
            - TREASURY_STOCK
            - TREASURY_STOCK_SUBSCRIPTION_DEPOSITS
            - VALUATION_AND_TRANSLATION_ADJUSTMENTS
            - SUBSCRIPTION_RIGHTS_TO_SHARES
            - NET_SALES
            - BEGINNING_INVENTORY
            - TRANSFERS_TO_OTHER_ACCOUNTS
            - ENDING_INVENTORY
            - SELLING_GENERAL_AND_ADMINISTRATIVE_EXPENSES
            - NON_OPERATING_INCOME
            - NON_OPERATING_EXPENSES
            - EXTRAORDINARY_INCOME
            - EXTRAORDINARY_LOSSES
            - CORPORATE_INCOME_TAXES_CURRENT
            - CORPORATE_INCOME_TAXES_DEFERRED
            - BEGINNING_MATERIALS
            - COST_OF_MATERIALS
            - ENDING_MATERIALS
            - MANUFACTURING_EXPENSES
            - BEGINNING_WORK_IN_PROCESS
            - ENDING_WORK_IN_PROCESS
          example: CASH_AND_DEPOSITS
          nullable: false
          type: string
      required:
        - account_group
        - available
        - category
        - financial_statement_type
        - id
        - name
        - search_key
        - sub_accounts
        - tax_id
      type: object
    Tax:
      example:
        search_key: Sales not covered
        name: Taxable sales 10% of total
        available: true
        id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
        abbreviation: Section sales 10%
        tax_rate: 0.08
      properties:
        id:
          description: 税区分ID
          example: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
          nullable: false
          type: string
        name:
          description: 税区分名称
          example: Taxable sales 10% of total
          nullable: false
          type: string
        abbreviation:
          description: 省略名
          example: Section sales 10%
          nullable: false
          type: string
        tax_rate:
          description: 税率
          example: 0.08
          format: float
          nullable: true
          type: number
        search_key:
          description: 検索キー
          example: Sales not covered
          nullable: true
          type: string
        available:
          description: 使用
          example: true
          nullable: false
          type: boolean
      required:
        - abbreviation
        - available
        - id
        - name
        - search_key
        - tax_rate
      type: object
    SubAccount:
      example:
        account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
        search_key: 現金
        name: 小口現金
        id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
        tax_id: 3uHWBCFlkrY_QmW0yo06Eg
      properties:
        account_id:
          description: 勘定科目ID
          example: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          nullable: false
          type: string
        id:
          description: 補助科目ID
          example: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
          nullable: false
          type: string
        name:
          description: 補助科目名称
          example: 小口現金
          nullable: false
          type: string
        search_key:
          description: 検索キー
          example: 現金
          nullable: true
          type: string
        tax_id:
          description: 税区分ID
          example: 3uHWBCFlkrY_QmW0yo06Eg
          nullable: false
          type: string
      required:
        - account_id
        - id
        - name
        - search_key
        - tax_id
      type: object
    SubAccountResponse:
      example:
        sub_accounts:
          - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            search_key: 現金
            name: 小口現金
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
            tax_id: 3uHWBCFlkrY_QmW0yo06Eg
          - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            search_key: 現金
            name: 小口現金
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
            tax_id: 3uHWBCFlkrY_QmW0yo06Eg
      properties:
        sub_accounts:
          items:
            $ref: '#/components/schemas/SubAccount'
          type: array
      required:
        - sub_accounts
      type: object
    Office:
[...]
