openapi: 3.0.3
info:
  contact:
    name: ca_public_api
    url: https://api-accounting.moneyforward.com
  description: '# Basic Information

    Please note that, as a rule, we do not respond to individual inquiries or provide technical support,
    except for our partner companies.<br />


    # Release Notes

    New API features and important changes are announced in the [release notes](/release-notes).<br />

    To receive the latest updates, we recommend subscribing to the [RSS feed](/rss.xml).<br />


    # Downloading the API Specification

    If you need the text of this specification (yaml format) as input for generative AI, download it from
    <a download href="/v3/openapi.yaml">here</a>.<br />


    # Authentication

    All APIs perform authentication and authorization using OAuth 2.0.<br />

    Obtain an access token in accordance with OAuth 2.0.<br />

    API requests become possible by attaching the obtained access token to the Authorization header as
    a Bearer Token.<br />


    # Error Responses

    All APIs return three types of status codes (2xx, 4xx, 5xx).<br />

    For 4xx and 5xx, an error response body is returned in a common response format.<br />

    The error response contains an array with as many elements as there are errors, each containing a
    code indicating the error type and a message describing the error details.<br />


    # Rate limiter

    [Documentation link](/rate_limiter)

    '
  title: Money Forward Cloud Accounting API
  version: V3
servers:
- description: Production environment
  url: https://api-accounting.moneyforward.com
tags:
- description: Account API
  name: Accounts
- description: Office information API
  name: Office
- description: Journal book API
  name: Journals
- description: Voucher API
  name: Vouchers
- description: Department API
  name: Departments
- description: Tax category API
  name: Taxes
- description: Sub-account API
  name: SubAccounts
- description: Trial balance (BS) retrieval API
  name: TrialBalanceBalanceSheet
- description: Trial balance (PL) retrieval API
  name: TrialBalanceProfitLoss
- description: Transition report (BS) retrieval API
  name: TransitionBalanceSheet
- description: Transition report (PL) retrieval API
  name: TransitionProfitLoss
- description: Trade partner API
  name: TradePartners
- description: Connected service API
  name: ConnectedAccounts
- description: Transaction API
  name: Transactions
- description: Fiscal year settings API
  name: TermSettings
paths:
  /api/v3/accounts:
    get:
      deprecated: false
      description: Retrieves accounts.
      operationId: getAccounts
      parameters:
      - description: nil
        in: query
        name: available
        required: false
        schema:
          example: true
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/accounts.read
      summary: Retrieve accounts
      tags:
      - Accounts
  /api/v3/connected_accounts:
    get:
      deprecated: false
      description: Retrieves connected services.
      operationId: getConnectedAccounts
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectedAccountsResponse'
          description: Success
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/connected_account.read
      summary: Retrieve connected services
      tags:
      - ConnectedAccounts
  /api/v3/offices:
    get:
      description: 'Retrieves office information and accounting periods.<br />

        If multiple accounting periods exist, `accounting_periods` is returned as an array.<br />

        Accounting periods are output in descending order of start date; if no accounting period exists,
        an error occurs.'
      operationId: currentOffice
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Office'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse409'
          description: The request cannot be processed due to an invalid state
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/offices.read
      summary: Retrieve office information
      tags:
      - Office
  /api/v3/journals:
    get:
      deprecated: false
      description: 'Retrieves a list of journal entries by specifying conditions such as the accounting
        period and journal entry date.<br />

        Either start_date or end_date must be specified. Only journal entries in the accounting period
        that contains the specified date are returned.'
      operationId: getJournals
      parameters:
      - description: Specifies the start date of the target period. The transaction date of each journal
          entry is used as the basis.
        in: query
        name: start_date
        required: false
        schema:
          example: '2022-04-01'
          format: date
          type: string
      - description: Specifies the end date of the target period. The transaction date of each journal
          entry is used as the basis.
        in: query
        name: end_date
        required: false
        schema:
          example: '2023-03-31'
          format: date
          type: string
      - description: 'Account ID<br />

          Only journal entries that have the specified account on either the debit or credit side are
          returned.'
        in: query
        name: account_id
        required: false
        schema:
          type: string
      - description: 'Flag specifying whether the journal entry is unrealized<br />

          If not specified, all journal entries are returned.'
        in: query
        name: is_realized
        required: false
        schema:
          example: false
          type: boolean
      - description: Filters by transaction ID (multiple values allowed).
        explode: true
        in: query
        name: transaction_ids
        required: false
        schema:
          example:
          - BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          - CowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          items:
            type: string
          maxItems: 50
          type: array
        style: form
      - description: Page number
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 2
          minimum: 1
          type: integer
          x-go-type: uint64
      - description: Number of items per page
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          example: 10
          maximum: 10000
          minimum: 1
          type: integer
          x-go-type: uint64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJournalsResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJournals_400_response'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/journal.read
      summary: Retrieve journal entry list
      tags:
      - Journals
    post:
      deprecated: false
      description: Creates a journal entry.
      operationId: postJournals
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRUDJournalRequest'
        description: Request body
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRUDJournalResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJournals_400_response'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request Content-Type is not supported
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/journal.write
      summary: Create a journal entry
      tags:
      - Journals
  /api/v3/journals/{id}:
    delete:
      deprecated: false
      description: Deletes the specific journal entry with the specified journal entry ID within the current
        office. Take a backup before use if necessary.
      operationId: deleteJournals
      parameters:
      - description: Specify the required ID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJournals_400_response'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/journal.write
      summary: Delete a journal entry
      tags:
      - Journals
    get:
      deprecated: false
      description: Returns the specific journal entry of the current office for the specified journal
        entry ID.
      operationId: getJournalById
      parameters:
      - description: Specify the required ID.
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRUDJournalResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJournals_400_response'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/journal.read
      summary: Retrieve a journal entry
      tags:
      - Journals
    put:
      deprecated: false
      description: Updates a specific journal entry of the current office using the specified journal
        entry ID.
      operationId: putJournals
      parameters:
      - description: Specify the required ID.
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CRUDJournalRequest'
        description: Request body
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRUDJournalResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getJournals_400_response'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request Content-Type is not supported
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/journal.write
      summary: Update a journal entry
      tags:
      - Journals
  /api/v3/vouchers:
    delete:
      deprecated: false
      description: Removes the association between a journal entry and a voucher.
      operationId: deleteVouchers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteVouchersRequest'
        description: Request body
        required: true
      responses:
        '204':
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postVouchers_400_response'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherErrorResponse'
          description: The specified voucher was not found
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request Content-Type is not supported
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/voucher.write
      summary: Detach a voucher
      tags:
      - Vouchers
    post:
      deprecated: false
      description: Saves a new voucher.<br>For details, see <a href="/specs/vouchers">this documentation</a>.
      operationId: postVouchers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostVouchersRequest'
        description: Request body
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostVouchersResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postVouchers_400_response'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request Content-Type is not supported
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/voucher.write
      summary: Save a new voucher
      tags:
      - Vouchers
  /api/v3/transactions:
    get:
      deprecated: false
      description: 'Retrieves the list of transactions collected by connected services.

        To narrow down by connected service, specify connected_account_id or connected_sub_account_id.

        '
      operationId: getTransactions
      parameters:
      - description: Specifies the start date of the retrieval range (YYYY-MM-DD format). The difference
          from end_date must be within 366 days.
        in: query
        name: start_date
        required: true
        schema:
          example: '2024-04-01'
          format: date
          type: string
      - description: Specifies the end date of the retrieval range (YYYY-MM-DD format). The difference
          from start_date must be within 366 days.
        in: query
        name: end_date
        required: true
        schema:
          example: '2025-03-31'
          format: date
          type: string
      - description: Specifies the ID of the connected service to filter by. Cannot be specified together
          with connected_sub_account_id.
        in: query
        name: connected_account_id
        required: false
        schema:
          example: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          type: string
      - description: Specifies the ID of the account to filter by. If omitted, all accounts linked to
          the connected_account_id are targeted. Cannot be specified together with connected_account_id.
        in: query
        name: connected_sub_account_id
        required: false
        schema:
          example: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
          type: string
      - description: Minimum amount (yen). If specified, side is required.
        in: query
        name: value_min
        required: false
        schema:
          example: 1000
          maximum: 999999999999
          minimum: 0
          type: integer
      - description: Maximum amount (JPY). If specified, side is required.
        in: query
        name: value_max
        required: false
        schema:
          example: 100000
          maximum: 999999999999
          minimum: 0
          type: integer
      - description: Filters by the income/expense type of the transaction. If value_min and value_max
          are omitted, the full range of the specified income/expense type is applied. Required when value_min
          or value_max is specified.
        in: query
        name: side
        required: false
        schema:
          enum:
          - INCOME
          - EXPENSE
          example: EXPENSE
          type: string
      - description: Filters by transaction content. The match method is specified with content_match_type.
        in: query
        name: content
        required: false
        schema:
          example: Supermarket
          type: string
      - description: 'Specifies the matching method for transaction content. Ignored if content is not
          specified.<br />

          - exact: exact match<br />

          - partial: partial match (default)<br />

          - forward: prefix match<br />

          - backward: suffix match'
        in: query
        name: content_match_type
        required: false
        schema:
          default: partial
          enum:
          - exact
          - partial
          - forward
          - backward
          example: partial
          type: string
      - description: 'Filters by journalizing status (multiple values allowed). If omitted, all statuses
          are included.<br />

          - excluded: excluded from journalizing<br />

          - none: not yet journalized<br />

          - registered: journalized<br />

          - modified: the transaction was modified after journalizing<br />

          - new_voucher_attached: the first voucher was attached after journalizing'
        explode: true
        in: query
        name: journalizing_statuses
        required: false
        schema:
          example:
          - none
          - registered
          items:
            enum:
            - excluded
            - none
            - registered
            - modified
            - new_voucher_attached
            type: string
          type: array
        style: form
      - description: Specifies the sort order by transaction date. If omitted, desc is applied.
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          example: desc
          type: string
      - description: Page number
        in: query
        name: page
        required: false
        schema:
          default: 1
          example: 2
          minimum: 1
          type: integer
          x-go-type: uint64
      - description: 'Number of items per page (default: 50, minimum: 10, maximum: 1000)'
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          example: 50
          maximum: 1000
          minimum: 10
          type: integer
          x-go-type: uint64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionsResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/transaction.read
      summary: Retrieve transaction list
      tags:
      - Transactions
    post:
      deprecated: false
      description: Creates transactions.
      operationId: postTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTransactionsRequest'
        description: Request body
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTransactionsResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionErrorResponse'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request Content-Type is not supported
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/transaction.write
      summary: Create transactions
      tags:
      - Transactions
  /api/v3/transactions/journalize:
    post:
      deprecated: false
      description: Creates a journal entry from the specified transaction.
      operationId: postTransactionJournalize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTransactionJournalizeRequest'
        description: Request body
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CRUDJournalResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request Content-Type is not supported
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/journal.write
      summary: Create journal entries from transactions
      tags:
      - Transactions
  /api/v3/departments:
    get:
      deprecated: false
      description: Retrieves departments.
      operationId: getDepartments
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/departments.read
      summary: Retrieve departments
      tags:
      - Departments
  /api/v3/taxes:
    get:
      deprecated: false
      description: Retrieves tax categories.
      operationId: getTaxes
      parameters:
      - description: nil
        in: query
        name: available
        required: false
        schema:
          example: true
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/taxes.read
      summary: Retrieve tax categories
      tags:
      - Taxes
  /api/v3/sub_accounts:
    get:
      deprecated: false
      description: Retrieves sub-accounts.
      operationId: getSubAccounts
      parameters:
      - description: Account ID
        in: query
        name: account_id
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubAccountResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/accounts.read
      summary: Retrieve sub-accounts
      tags:
      - SubAccounts
  /api/v3/reports/trial_balance_bs:
    get:
      description: "Retrieves the balance sheet of the trial balance.<br />\nAccounts and sub-accounts\
        \ whose amounts are 0 for all items, as well as some financial statement items, are not returned.<br\
        \ />\nThe trial balance columns\n \n - opening_balance(previous period balance)\n - debit_amount(debit\
        \ amount)\n - credit_amount(credit amount)\n - closing_balance(end-of-period balance)\n - ratio(composition\
        \ ratio)\n\nare returned as a fixed set.<br />\n\nAlso, unrealized journal entries are not included,\
        \ and figures are always aggregated as the total of all departments.<br />\n\nratio(composition\
        \ ratio) is null instead of 0 when the denominator is 0, as it cannot be calculated.<br />"
      operationId: getReportsTrialBalanceBalanceSheet
      parameters:
      - description: 'Specifies the fiscal year.<br />

          If not specified, the latest fiscal year is used.'
        example: 2022
        in: query
        name: fiscal_year
        required: false
        schema:
          type: integer
          x-go-type: uint64
      - description: 'Specifies the aggregation start month of the target fiscal year.<br />

          Can be combined with `fiscal_year` to specify the aggregation start month.<br />

          If not specified, the start month of the fiscal year is used.'
        in: query
        name: start_month
        required: false
        schema:
          example: 2
          type: integer
      - description: 'Specifies the aggregation end month of the target fiscal year.<br />

          Can be combined with `fiscal_year` to specify the aggregation end month.<br />

          If not specified, the end month of the fiscal year is used.'
        in: query
        name: end_month
        required: false
        schema:
          example: 2
          type: integer
      - description: Specifies the start date of the target period.
        in: query
        name: start_date
        required: false
        schema:
          example: '2022-04-01'
          format: date
          type: string
      - description: Specifies the end date of the target period.
        in: query
        name: end_date
        required: false
        schema:
          example: '2023-03-31'
          format: date
          type: string
      - description: Specifies whether to retrieve the amounts of sub-accounts linked to accounts.
        in: query
        name: with_sub_accounts
        required: false
        schema:
          default: false
          example: true
          type: boolean
      - description: 'Specifies whether to calculate on a tax-inclusive basis.<br />

          Can only be specified when "Office Settings > Accounting Method" is 「税抜（内税）」 (tax-exclusive,
          internal tax).<br />

          For the 「税込」 (tax-inclusive) and 「税抜（別記）」 (tax-exclusive, separately stated) accounting methods,
          this parameter is ignored.'
        in: query
        name: include_tax
        required: false
        schema:
          default: false
          example: true
          type: boolean
      - description: 'Specifies the type of journal entries to target.<br />

          You can specify either `journal_entry` (normal journal entries) or `adjusting_entry` (closing
          adjustment entries), or both.<br />

          If omitted, both types are targeted.'
        in: query
        name: journal_types
        required: false
        schema:
          example:
          - journal_entry
          - adjusting_entry
          items:
            enum:
            - journal_entry
            - adjusting_entry
            type: string
            x-go-type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TBResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportsTrialBalanceBalanceSheet_400_response'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/report.read
      summary: Retrieve the balance sheet of the trial balance
      tags:
      - TrialBalanceBalanceSheet
  /api/v3/reports/trial_balance_pl:
    get:
      description: "Retrieves the profit and loss statement of the trial balance.<br />\nAccounts and\
        \ sub-accounts whose amounts are 0 for all items, as well as some financial statement items, are\
        \ not returned.<br />\nThe trial balance columns\n \n - opening_balance(previous period balance)\n\
        \ - debit_amount(debit amount)\n - credit_amount(credit amount)\n - closing_balance(end-of-period\
        \ balance)\n - ratio(composition ratio)\n\nare returned as a fixed set.<br />\n\nAlso, unrealized\
        \ journal entries are not included, and figures are always aggregated as the total of all departments.<br\
        \ />\n\nratio(composition ratio) is null instead of 0 when the denominator is 0, as it cannot\
        \ be calculated.<br />"
      operationId: getReportsTrialBalanceProfitLoss
      parameters:
      - description: 'Specifies the fiscal year.<br />

          If not specified, the latest fiscal year is used.'
        example: 2022
        in: query
        name: fiscal_year
        required: false
        schema:
          type: integer
          x-go-type: uint64
      - description: 'Specifies the aggregation start month of the target fiscal year.<br />

          Can be combined with `fiscal_year` to specify the aggregation start month.<br />

          If not specified, the start month of the fiscal year is used.'
        in: query
        name: start_month
        required: false
        schema:
          example: 2
          type: integer
      - description: 'Specifies the aggregation end month of the target fiscal year.<br />

          Can be combined with `fiscal_year` to specify the aggregation end month.<br />

          If not specified, the end month of the fiscal year is used.'
        in: query
        name: end_month
        required: false
        schema:
          example: 2
          type: integer
      - description: Specifies the start date of the target period.
        in: query
        name: start_date
        required: false
        schema:
          example: '2022-04-01'
          format: date
          type: string
      - description: Specifies the end date of the target period.
        in: query
        name: end_date
        required: false
        schema:
          example: '2023-03-31'
          format: date
          type: string
      - description: Specifies whether to retrieve the amounts of sub-accounts linked to accounts.
        in: query
        name: with_sub_accounts
        required: false
        schema:
          default: false
          example: true
          type: boolean
      - description: 'Specifies whether to calculate on a tax-inclusive basis.<br />

          Can only be specified when "Office Settings > Accounting Method" is 「税抜（内税）」 (tax-exclusive,
          internal tax).<br />

          For the 「税込」 (tax-inclusive) and 「税抜（別記）」 (tax-exclusive, separately stated) accounting methods,
          this parameter is ignored.'
        in: query
        name: include_tax
        required: false
        schema:
          default: false
          example: true
          type: boolean
      - description: 'Specifies the type of journal entries to target.<br />

          You can specify either `journal_entry` (normal journal entries) or `adjusting_entry` (closing
          adjustment entries), or both.<br />

          If omitted, both types are targeted.'
        in: query
        name: journal_types
        required: false
        schema:
          example:
          - journal_entry
          - adjusting_entry
          items:
            enum:
            - journal_entry
            - adjusting_entry
            type: string
            x-go-type: string
          type: array
      responses:
        '200':
          content:
            application/json:
              example:
                columns:
                - opening_balance
                - debit_amount
                - credit_amount
                - closing_balance
                - ratio
                start_date: '2022-04-01'
                created_at: '2023-07-05T15:54:43.446000+09:00'
                report_type: trial_balance_pl
                end_date: '2023-03-31'
                rows:
                - name: 売上高合計
                  rows:
                  - name: 売上高
                    rows: null
                    type: account
                    values:
                    - 0
                    - 0
                    - 1395134
                    - 1395134
                    - 98.1
                  - name: 売上値引・返品
                    rows: null
                    type: account
                    values:
                    - 0
                    - 11092
                    - 38502
                    - -27410
                    - -1.9
                  type: financial_statement_item
                  values:
                  - 0
                  - 11092
                  - 1433636
                  - 1422544
                  - 100
                - name: 売上原価
                  rows:
                  - name: 期首商品棚卸高
                    rows: null
                    type: account
                    values:
                    - 0
                    - 4350
                    - 5000
                    - -650
                    - 0
                  - name: 仕入高
                    rows: null
                    type: account
                    values:
                    - 0
                    - 134805
                    - 21170
                    - 113635
                    - 8
                  - name: 仕入値引・返品
                    rows: null
                    type: account
                    values:
                    - 0
                    - 22728
                    - 2500
                    - -20228
                    - -1.4
                  - name: 当期製品製造原価
                    rows: []
                    type: financial_statement_item
                    values:
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                  - name: 他勘定振替高
                    rows: null
                    type: account
                    values:
                    - 0
                    - 0
                    - 13680
                    - 13680
                    - 1
                  - name: 期末商品棚卸高
                    rows: null
                    type: account
                    values:
                    - 0
                    - 8600
                    - 39731
                    - 31131
                    - 2.2
                  type: financial_statement_item
                  values:
                  - 0
                  - 170483
                  - 82081
                  - 88402
                  - 6.2
                - name: 営業外費用合計
                  rows:
                  - name: 支払利息
                    rows: null
                    type: account
                    values:
                    - 0
                    - 5500
                    - 33150
                    - -27650
                    - -1.9
                  - name: 雑損失
                    rows: null
                    type: account
                    values:
                    - 0
                    - 6819
                    - 0
                    - 6819
                    - 0.5
                  - name: 売上割引
                    rows: null
                    type: account
                    values:
                    - 0
                    - 0
                    - 22728
                    - -22728
                    - -1.6
                  type: financial_statement_item
                  values:
                  - 0
                  - 12319
                  - 55878
                  - -43559
                  - -3.1
                - name: 期末仕掛品棚卸高
                  rows: []
                  type: financial_statement_item
                  values:
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                - name: 他勘定振替高
                  rows: []
                  type: financial_statement_item
                  values:
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                - name: 当期製品製造原価
                  rows: []
                  type: financial_statement_item
                  values:
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
              schema:
                $ref: '#/components/schemas/TBResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getReportsTrialBalanceBalanceSheet_400_response'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/report.read
      summary: Retrieve the profit and loss statement of the trial balance
      tags:
      - TrialBalanceProfitLoss
  /api/v3/reports/transition_bs:
    get:
      description: 'Retrieves the balance sheet of the transition report.<br />

        Currently only monthly is supported.<br />

        Accounts and sub-accounts whose amounts are 0 for all items, as well as some financial statement
        items, are not returned.<br />

        Also, unrealized journal entries are not included, and figures are always aggregated as the total
        of all departments.<br />

        The transition report columns return the values for the specified period.<br />'
      operationId: getReportsTransitionBalanceSheet
      parameters:
      - description: 'Specifies the aggregation type of the transition report.<br />

          Currently only ''monthly'' is supported.<br />

          - monthly: monthly aggregation'
        in: query
        name: type
        required: true
        schema:
          enum:
          - monthly
          example: monthly
          type: string
      - description: 'Specifies the fiscal year.<br />

          If not specified, the latest fiscal year is used.'
        example: 2021
        in: query
        name: fiscal_year
        required: false
        schema:
          type: integer
          x-go-type: uint64
      - description: 'Specifies the aggregation start month of the target fiscal year.<br />

          Can be combined with `fiscal_year` to specify the aggregation start month.<br />

          If not specified, the start month of the fiscal year is used.'
        in: query
        name: start_month
        required: false
        schema:
          example: 2
          type: integer
      - description: 'Specifies the aggregation end month of the target fiscal year.<br />

          Can be combined with `fiscal_year` to specify the aggregation end month.<br />

          If not specified, the end month of the fiscal year is used.'
        in: query
        name: end_month
        required: false
        schema:
          example: 2
          type: integer
      - description: Specifies whether to retrieve the amounts of sub-accounts linked to accounts.
        in: query
        name: with_sub_accounts
        required: false
        schema:
          default: false
          example: true
          type: boolean
      - description: 'Specifies whether to calculate on a tax-inclusive basis.<br />

          Can only be specified when "Office Settings > Accounting Method" is 「税抜（内税）」 (tax-exclusive,
          internal tax).<br />

          For the 「税込」 (tax-inclusive) and 「税抜（別記）」 (tax-exclusive, separately stated) accounting methods,
          this parameter is ignored.'
        in: query
        name: include_tax
        required: false
        schema:
          default: false
          example: true
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionErrorResponse'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/report.read
      summary: Retrieve the balance sheet transition report
      tags:
      - TransitionBalanceSheet
  /api/v3/reports/transition_pl:
    get:
      description: 'Retrieves the profit and loss statement of the transition report.<br />

        Currently, only monthly is supported.<br />

        Accounts and sub-accounts whose amounts are 0 for all items, as well as some financial statement
        items, are not returned.<br />

        Also, unrealized journal entries are not included, and aggregation is always the total across
        all departments.<br />

        The transition report columns return values for the specified period.<br />'
      operationId: getReportsTransitionProfitLoss
      parameters:
      - description: 'Specifies the aggregation type of the transition report.<br />

          Currently only ''monthly'' is supported.<br />

          - monthly: monthly aggregation'
        in: query
        name: type
        required: true
        schema:
          enum:
          - monthly
          example: monthly
          type: string
      - description: 'Specifies the fiscal year.<br />

          If not specified, the latest fiscal year is used.'
        example: 2021
        in: query
        name: fiscal_year
        required: false
        schema:
          type: integer
          x-go-type: uint64
      - description: 'Specifies the aggregation start month of the target fiscal year.<br />

          Can be combined with `fiscal_year` to specify the aggregation start month.<br />

          If not specified, the start month of the fiscal year is used.'
        in: query
        name: start_month
        required: false
        schema:
          example: 2
          type: integer
      - description: 'Specifies the aggregation end month of the target fiscal year.<br />

          Can be combined with `fiscal_year` to specify the aggregation end month.<br />

          If not specified, the end month of the fiscal year is used.'
        in: query
        name: end_month
        required: false
        schema:
          example: 2
          type: integer
      - description: Specifies whether to retrieve the amounts of sub-accounts linked to accounts.
        in: query
        name: with_sub_accounts
        required: false
        schema:
          default: false
          example: true
          type: boolean
      - description: 'Specifies whether to calculate on a tax-inclusive basis.<br />

          Can only be specified when "Office Settings > Accounting Method" is 「税抜（内税）」 (tax-exclusive,
          internal tax).<br />

          For the 「税込」 (tax-inclusive) and 「税抜（別記）」 (tax-exclusive, separately stated) accounting methods,
          this parameter is ignored.'
        in: query
        name: include_tax
        required: false
        schema:
          default: false
          example: true
          type: boolean
      responses:
        '200':
          content:
            application/json:
              example:
                fiscal_year: 2022
                columns:
                - '4'
                - '5'
                - '6'
                - '7'
                - '8'
                - '9'
                - '10'
                - '11'
                - '12'
                - '1'
                - '2'
                - '3'
                - settlement_balance
                - total
                start_month: 4
                created_at: '2023-07-05T17:38:23.750000+09:00'
                report_type: transition_pl
                end_month: 3
                rows:
                - name: 売上高合計
                  rows:
                  - name: 売上高
                    rows: null
                    type: account
                    values:
                    - 25587
                    - 9091
                    - 293182
                    - 0
                    - 6910
                    - 233091
                    - 0
                    - 818182
                    - 0
                    - 0
                    - 0
                    - 0
                    - 9091
                    - 1395134
                  - name: 売上値引・返品
                    rows: null
                    type: account
                    values:
                    - -9455
                    - 0
                    - -3955
                    - -11819
                    - 6910
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - -9091
                    - -27410
                  type: financial_statement_item
                  values:
                  - 35042
                  - 9091
                  - 297137
                  - 11819
                  - 0
                  - 233091
                  - 0
                  - 818182
                  - 0
                  - 0
                  - 0
                  - 0
                  - 18182
                  - 1422544
                - name: 売上原価
                  rows:
                  - name: 期首商品棚卸高
                    rows: null
                    type: account
                    values:
                    - 0
                    - -5000
                    - 4350
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - -650
                  - name: 仕入高
                    rows: null
                    type: account
                    values:
                    - 67109
                    - 45945
                    - 0
                    - 5841
                    - 0
                    - 0
                    - -5260
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 113635
                  - name: 仕入値引・返品
                    rows: null
                    type: account
                    values:
                    - 2500
                    - -13637
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - -9091
                    - -20228
                  - name: 当期製品製造原価
                    rows: []
                    type: financial_statement_item
                    values:
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                  - name: 他勘定振替高
                    rows: null
                    type: account
                    values:
                    - 0
                    - 0
                    - 5080
                    - 0
                    - 8600
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 13680
                  - name: 期末商品棚卸高
                    rows: null
                    type: account
                    values:
                    - 33731
                    - 0
                    - 0
                    - 6000
                    - -8600
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 0
                    - 31131
                  type: financial_statement_item
                  values:
                  - 30878
                  - 54582
                  - -730
                  - -159
                  - 0
                  - 0
                  - -5260
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 9091
                  - 88402
                - name: 材料費合計
                  rows: []
                  type: financial_statement_item
                  values:
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                - name: 期末仕掛品棚卸高
                  rows: []
                  type: financial_statement_item
                  values:
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                - name: 他勘定振替高
                  rows: []
                  type: financial_statement_item
                  values:
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                - name: 当期製品製造原価
                  rows: []
                  type: financial_statement_item
                  values:
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
                  - 0
              schema:
                $ref: '#/components/schemas/TransitionResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionErrorResponse'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/report.read
      summary: Retrieve the profit and loss statement of the transition report
      tags:
      - TransitionProfitLoss
  /api/v3/trade_partners:
    get:
      description: Retrieves trade partners.
      operationId: getTradePartners
      parameters:
      - description: nil
        in: query
        name: available
        required: false
        schema:
          example: true
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradePartnersResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/trade_partners.read
      summary: Retrieve trade partners
      tags:
      - TradePartners
    post:
      description: Creates trade partners.
      operationId: postTradePartners
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostTradePartnersRequest'
        required: true
        description: nil
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradePartnersResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/postTradePartners_400_response'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '415':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request Content-Type is not supported
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/trade_partners.write
      summary: Create trade partners
      tags:
      - TradePartners
  /api/v3/term_settings:
    get:
      description: 'Retrieves all fiscal year settings.<br />

        Fiscal years are sorted in descending order by start date.'
      operationId: getTermSettings
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermSettingsResponse'
          description: Success
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
          description: Invalid request parameters
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse401'
          description: Access token is not set, invalid, or expired
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse403'
          description: Cannot be used due to unauthorized permissions
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse409'
          description: The request cannot be processed due to an invalid state
        '429':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse429'
          description: Subject to rate limiting
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse500'
          description: Unexpected error
      security:
      - OAuth2:
        - mfc/accounting/offices.read
      summary: Retrieve fiscal year settings
      tags:
      - TermSettings
components:
  parameters:
    Available:
      description: nil
      in: query
      name: available
      required: false
      schema:
        example: true
        type: boolean
    JournalStartDate:
      description: Specifies the start date of the target period. The transaction date of each journal
        entry is used as the basis.
      in: query
      name: start_date
      required: false
      schema:
        example: '2022-04-01'
        format: date
        type: string
    JournalEndDate:
      description: Specifies the end date of the target period. The transaction date of each journal entry
        is used as the basis.
      in: query
      name: end_date
      required: false
      schema:
        example: '2023-03-31'
        format: date
        type: string
    AccountIDJournal:
      description: 'Account ID<br />

        Only journal entries that have the specified account on either the debit or credit side are returned.'
      in: query
      name: account_id
      required: false
      schema:
        type: string
    IsRealized:
      description: 'Flag specifying whether the journal entry is unrealized<br />

        If not specified, all journal entries are returned.'
      in: query
      name: is_realized
      required: false
      schema:
        example: false
        type: boolean
    TransactionIds:
      description: Filters by transaction ID (multiple values allowed).
      explode: true
      in: query
      name: transaction_ids
      required: false
      schema:
        example:
        - BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
        - CowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
        items:
          type: string
        maxItems: 50
        type: array
      style: form
    Page:
      description: Page number
      in: query
      name: page
      required: false
      schema:
        default: 1
        example: 2
        minimum: 1
        type: integer
        x-go-type: uint64
    JournalsPerPage:
      description: Number of items per page
      in: query
      name: per_page
      required: false
      schema:
        default: 10
        example: 10
        maximum: 10000
        minimum: 1
        type: integer
        x-go-type: uint64
    Id:
      description: Specify the required ID.
      in: path
      name: id
      required: true
      schema:
        type: string
    StartDate:
      description: Specifies the start date of the retrieval range (YYYY-MM-DD format). The difference
        from end_date must be within 366 days.
      in: query
      name: start_date
      required: true
      schema:
        example: '2024-04-01'
        format: date
        type: string
    EndDate:
      description: Specifies the end date of the retrieval range (YYYY-MM-DD format). The difference from
        start_date must be within 366 days.
      in: query
      name: end_date
      required: true
      schema:
        example: '2025-03-31'
        format: date
        type: string
    ConnectedAccountId:
      description: Specifies the ID of the connected service to filter by. Cannot be specified together
        with connected_sub_account_id.
      in: query
      name: connected_account_id
      required: false
      schema:
        example: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
        type: string
    ConnectedSubAccountId:
      description: Specifies the ID of the account to filter by. If omitted, all accounts linked to the
        connected_account_id are targeted. Cannot be specified together with connected_account_id.
      in: query
      name: connected_sub_account_id
      required: false
      schema:
        example: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
        type: string
    ValueMin:
      description: Minimum amount (yen). If specified, side is required.
      in: query
      name: value_min
      required: false
      schema:
        example: 1000
        maximum: 999999999999
        minimum: 0
        type: integer
    ValueMax:
      description: Maximum amount (JPY). If specified, side is required.
      in: query
      name: value_max
      required: false
      schema:
        example: 100000
        maximum: 999999999999
        minimum: 0
        type: integer
    Side:
      description: Filters by the income/expense type of the transaction. If value_min and value_max are
        omitted, the full range of the specified income/expense type is applied. Required when value_min
        or value_max is specified.
      in: query
      name: side
      required: false
      schema:
        enum:
        - INCOME
        - EXPENSE
        example: EXPENSE
        type: string
    Content:
      description: Filters by transaction content. The match method is specified with content_match_type.
      in: query
      name: content
      required: false
      schema:
        example: Supermarket
        type: string
    ContentMatchType:
      description: 'Specifies the matching method for transaction content. Ignored if content is not specified.<br
        />

        - exact: exact match<br />

        - partial: partial match (default)<br />

        - forward: prefix match<br />

        - backward: suffix match'
      in: query
      name: content_match_type
      required: false
      schema:
        default: partial
        enum:
        - exact
        - partial
        - forward
        - backward
        example: partial
        type: string
    JournalizingStatuses:
      description: 'Filters by journalizing status (multiple values allowed). If omitted, all statuses
        are included.<br />

        - excluded: excluded from journalizing<br />

        - none: not yet journalized<br />

        - registered: journalized<br />

        - modified: the transaction was modified after journalizing<br />

        - new_voucher_attached: the first voucher was attached after journalizing'
      explode: true
      in: query
      name: journalizing_statuses
      required: false
      schema:
        example:
        - none
        - registered
        items:
          enum:
          - excluded
          - none
          - registered
          - modified
          - new_voucher_attached
          type: string
        type: array
      style: form
    Order:
      description: Specifies the sort order by transaction date. If omitted, desc is applied.
      in: query
      name: order
      required: false
      schema:
        default: desc
        enum:
        - asc
        - desc
        example: desc
        type: string
    TransactionsPerPage:
      description: 'Number of items per page (default: 50, minimum: 10, maximum: 1000)'
      in: query
      name: per_page
      required: false
      schema:
        default: 50
        example: 50
        maximum: 1000
        minimum: 10
        type: integer
        x-go-type: uint64
    AccountIDSubAccount:
      description: Account ID
      in: query
      name: account_id
      required: false
      schema:
        type: string
    FiscalYearTB:
      description: 'Specifies the fiscal year.<br />

        If not specified, the latest fiscal year is used.'
      example: 2022
      in: query
      name: fiscal_year
      required: false
      schema:
        type: integer
        x-go-type: uint64
    StartMonthTB:
      description: 'Specifies the aggregation start month of the target fiscal year.<br />

        Can be combined with `fiscal_year` to specify the aggregation start month.<br />

        If not specified, the start month of the fiscal year is used.'
      in: query
      name: start_month
      required: false
      schema:
        example: 2
        type: integer
    EndMonthTB:
      description: 'Specifies the aggregation end month of the target fiscal year.<br />

        Can be combined with `fiscal_year` to specify the aggregation end month.<br />

        If not specified, the end month of the fiscal year is used.'
      in: query
      name: end_month
      required: false
      schema:
        example: 2
        type: integer
    TrialBalanceStartDate:
      description: Specifies the start date of the target period.
      in: query
      name: start_date
      required: false
      schema:
        example: '2022-04-01'
        format: date
        type: string
    TrialBalanceEndDate:
      description: Specifies the end date of the target period.
      in: query
      name: end_date
      required: false
      schema:
        example: '2023-03-31'
        format: date
        type: string
    WithSubAccounts:
      description: Specifies whether to retrieve the amounts of sub-accounts linked to accounts.
      in: query
      name: with_sub_accounts
      required: false
      schema:
        default: false
        example: true
        type: boolean
    IncludeTax:
      description: 'Specifies whether to calculate on a tax-inclusive basis.<br />

        Can only be specified when "Office Settings > Accounting Method" is 「税抜（内税）」 (tax-exclusive, internal
        tax).<br />

        For the 「税込」 (tax-inclusive) and 「税抜（別記）」 (tax-exclusive, separately stated) accounting methods,
        this parameter is ignored.'
      in: query
      name: include_tax
      required: false
      schema:
        default: false
        example: true
        type: boolean
    JournalTypes:
      description: 'Specifies the type of journal entries to target.<br />

        You can specify either `journal_entry` (normal journal entries) or `adjusting_entry` (closing
        adjustment entries), or both.<br />

        If omitted, both types are targeted.'
      in: query
      name: journal_types
      required: false
      schema:
        example:
        - journal_entry
        - adjusting_entry
        items:
          enum:
          - journal_entry
          - adjusting_entry
          type: string
          x-go-type: string
        type: array
    TransitionType:
      description: 'Specifies the aggregation type of the transition report.<br />

        Currently only ''monthly'' is supported.<br />

        - monthly: monthly aggregation'
      in: query
      name: type
      required: true
      schema:
        enum:
        - monthly
        example: monthly
        type: string
    TransitionFiscalYear:
      description: 'Specifies the fiscal year.<br />

        If not specified, the latest fiscal year is used.'
      example: 2021
      in: query
      name: fiscal_year
      required: false
      schema:
        type: integer
        x-go-type: uint64
    TransitionStartMonth:
      description: 'Specifies the aggregation start month of the target fiscal year.<br />

        Can be combined with `fiscal_year` to specify the aggregation start month.<br />

        If not specified, the start month of the fiscal year is used.'
      in: query
      name: start_month
      required: false
      schema:
        example: 2
        type: integer
    TransitionEndMonth:
      description: 'Specifies the aggregation end month of the target fiscal year.<br />

        Can be combined with `fiscal_year` to specify the aggregation end month.<br />

        If not specified, the end month of the fiscal year is used.'
      in: query
      name: end_month
      required: false
      schema:
        example: 2
        type: integer
  schemas:
    AccountResponse:
      example:
        accounts:
        - search_key: 現金
          account_group: ASSET
          sub_accounts:
          - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            search_key: 現金
            name: 小口現金
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
            tax_id: 3uHWBCFlkrY_QmW0yo06Eg
          - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            search_key: 現金
            name: 小口現金
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
            tax_id: 3uHWBCFlkrY_QmW0yo06Eg
          name: 現金
          available: true
          id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          category: CASH_AND_DEPOSITS
          financial_statement_type: BALANCE_SHEET
          tax_id: 3uHWBCFlkrY_QmW0yo06Eg
        - search_key: 現金
          account_group: ASSET
          sub_accounts:
          - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            search_key: 現金
            name: 小口現金
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
            tax_id: 3uHWBCFlkrY_QmW0yo06Eg
          - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
            search_key: 現金
            name: 小口現金
            id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
            tax_id: 3uHWBCFlkrY_QmW0yo06Eg
          name: 現金
          available: true
          id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          category: CASH_AND_DEPOSITS
          financial_statement_type: BALANCE_SHEET
          tax_id: 3uHWBCFlkrY_QmW0yo06Eg
      properties:
        accounts:
          items:
            $ref: '#/components/schemas/Account'
          type: array
      required:
      - accounts
      type: object
    GetJournalsResponse:
      example:
        metadata:
          total_count: 101
          total_pages: 101
        journals:
        - entered_by: JOURNAL_TYPE_NORMAL
          branches:
          - remark: ''
            creditor:
              value: 345200
              tax_value: 0
              account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              account_name: 現金
              tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              tax_name: 対象外
              tax_long_name: 対象外
              sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              sub_account_name: 小口現金
              invoice_kind: INVOICE_KIND_NOT_TARGET
              trade_partner_code: A0000000001
              trade_partner_name: 株式会社マネーフォワードベンチャー
            debitor:
              value: 345200
              tax_value: 0
              account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              account_name: 現金
              tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              tax_name: 対象外
              tax_long_name: 対象外
              department_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              department_name: Home
              sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              sub_account_name: 小口現金
              invoice_kind: INVOICE_KIND_NOT_TARGET
              trade_partner_code: A0000000001
              trade_partner_name: 株式会社マネーフォワードベンチャー
          create_time: '2023-01-12T04:50:11Z'
          id: tfAQxNx%2BSnC9teuXKMjdYNpEVoee%2F%2Bn%2B97E9vQmfAupTjPMQ0eZt3lRC7IeI%2FN1L
          number: 1
          is_realized: true
          journal_type: journal_entry
          memo: ''
          tags: []
          transaction_date: '2022-04-04'
          update_time: '2023-01-12T04:50:12Z'
          term_period: 2022
          voucher_file_ids: []
          transaction_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
      properties:
        metadata:
          $ref: '#/components/schemas/Metadata'
        journals:
          example:
          - entered_by: JOURNAL_TYPE_NORMAL
            branches:
            - remark: ''
              creditor:
                value: 345200
                tax_value: 0
                account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                account_name: 現金
                tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                tax_name: 対象外
                tax_long_name: 対象外
                sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                sub_account_name: 小口現金
                invoice_kind: INVOICE_KIND_NOT_TARGET
                trade_partner_code: A0000000001
                trade_partner_name: 株式会社マネーフォワードベンチャー
              debitor:
                value: 345200
                tax_value: 0
                account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                account_name: 現金
                tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                tax_name: 対象外
                tax_long_name: 対象外
                department_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                department_name: Home
                sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
                sub_account_name: 小口現金
                invoice_kind: INVOICE_KIND_NOT_TARGET
                trade_partner_code: A0000000001
                trade_partner_name: 株式会社マネーフォワードベンチャー
            create_time: '2023-01-12T04:50:11Z'
            id: tfAQxNx%2BSnC9teuXKMjdYNpEVoee%2F%2Bn%2B97E9vQmfAupTjPMQ0eZt3lRC7IeI%2FN1L
            number: 1
            is_realized: true
            journal_type: journal_entry
            memo: ''
            tags: []
            transaction_date: '2022-04-04'
            update_time: '2023-01-12T04:50:12Z'
            term_period: 2022
            voucher_file_ids: []
            transaction_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          items:
            $ref: '#/components/schemas/JournalItem'
          type: array
      required:
      - journals
      - metadata
      type: object
    CRUDJournalRequest:
      example:
        journal:
          transaction_date: '2015-04-28'
          journal_type: journal_entry
          memo: Memo
          tags:
          - tag1
          - tag2
          branches:
          - creditor:
              value: 100
              tax_id: 3uHWBCFlkrY_QmW0yo06Eg
              account_id: owMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              department_id: 3uHWBCFlkrY_QmW0yo06Eg
              sub_account_id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
              trade_partner_code: A0000000001
              invoice_kind: INVOICE_KIND_QUALIFIED
            debitor:
              value: 100
              tax_id: 3uHWBCFlkrY_QmW0yo06Eg
              account_id: owMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              department_id: 3uHWBCFlkrY_QmW0yo06Eg
              sub_account_id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
              trade_partner_code: A0000000001
              invoice_kind: INVOICE_KIND_QUALIFIED
            remark: Sell furniture for 100 yen
          - creditor:
              value: 1000
              tax_id: 3uHWBCFlkrY_QmW0yo06Eg
              account_id: owMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              department_id: 3uHWBCFlkrY_QmW0yo06Eg
              sub_account_id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
              trade_partner_code: A0000000001
              invoice_kind: INVOICE_KIND_QUALIFIED
            debitor:
              value: 1000
              tax_id: 3uHWBCFlkrY_QmW0yo06Eg
              account_id: owMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              department_id: 3uHWBCFlkrY_QmW0yo06Eg
              sub_account_id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
              trade_partner_code: A0000000001
              invoice_kind: INVOICE_KIND_QUALIFIED
            remark: Sell furniture for 1000 yen
      properties:
        journal:
          $ref: '#/components/schemas/CRUDJournalRequest_journal'
      required:
      - journal
      type: object
    CRUDJournalResponse:
      example:
        journal:
          entered_by: JOURNAL_TYPE_NORMAL
          branches:
          - remark: ''
            creditor:
              value: 345200
              tax_value: 0
              account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              account_name: 現金
              tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              tax_name: 対象外
              tax_long_name: 対象外
              sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              sub_account_name: 小口現金
              invoice_kind: INVOICE_KIND_NOT_TARGET
              trade_partner_code: A0000000001
              trade_partner_name: 株式会社マネーフォワードベンチャー
            debitor:
              value: 345200
              tax_value: 0
              account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              account_name: 現金
              tax_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              tax_name: 対象外
              tax_long_name: 対象外
              department_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              department_name: Home
              sub_account_id: OwMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
              sub_account_name: 小口現金
              invoice_kind: INVOICE_KIND_NOT_TARGET
              trade_partner_code: A0000000001
              trade_partner_name: 株式会社マネーフォワードベンチャー
          create_time: '2023-01-12T04:50:11Z'
          id: tfAQxNx%2BSnC9teuXKMjdYNpEVoee%2F%2Bn%2B97E9vQmfAupTjPMQ0eZt3lRC7IeI%2FN1L
          number: 1
          is_realized: true
          journal_type: journal_entry
          memo: ''
          tags: []
          transaction_date: '2022-04-04'
          update_time: '2023-01-12T04:50:12Z'
          term_period: 2022
          voucher_file_ids: []
          transaction_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
      properties:
        journal:
          $ref: '#/components/schemas/JournalItem'
      required:
      - journal
      type: object
    PostVouchersRequest:
      example:
        journal_id: JournalId
        voucher_files:
        - file_name: file1
          file_data: YmFzZTY044Ko44Oz44Kz44O844OH44Kj44Oz44Kw
        - file_name: file2
          file_data: YmFzZTY044Ko44Oz44Kz44O844OH44Kj44Oz44Kw
      properties:
        journal_id:
          description: ID of the journal entry to attach the voucher to
          example: JournalId
          nullable: true
          type: string
        voucher_files:
          description: List of vouchers
          items:
            $ref: '#/components/schemas/PostVouchersRequest_voucher_files_inner'
          nullable: false
          type: array
      required:
      - voucher_files
      type: object
    PostVouchersResponse:
      example:
        voucher_file_ids:
        - file_name: file1
          file_id: a60cd25d-c0bc-46cf-b2af-3614e21b7fe5
        - file_name: file2
          file_id: 032520a9-cc6d-4f75-9068-37c5ee1b7092
      properties:
        voucher_file_ids:
          description: List of voucher IDs
          items:
            $ref: '#/components/schemas/PostVouchersResponse_voucher_file_ids_inner'
          nullable: false
          type: array
      required:
      - voucher_file_ids
      type: object
    DeleteVouchersRequest:
      example:
        journal_id: JournalId
        voucher_file_id: a60cd25d-c0bc-46cf-b2af-3614e21b7fe5
      properties:
        journal_id:
          description: ID of the journal entry to which the voucher is attached
          example: JournalId
          nullable: false
          type: string
        voucher_file_id:
          description: ID of the voucher to detach
          example: a60cd25d-c0bc-46cf-b2af-3614e21b7fe5
          nullable: false
          type: string
      required:
      - journal_id
      - voucher_file_id
      type: object
    DepartmentResponse:
      example:
        departments:
        - search_key: code
          parent_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          name: Development Department
          id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
        - search_key: code
          parent_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          name: Development Department
          id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
      properties:
        departments:
          items:
            $ref: '#/components/schemas/Department'
          type: array
      required:
      - departments
      type: object
    TaxResponse:
      example:
        taxes:
        - search_key: Sales not covered
          name: Taxable sales 10% of total
          available: true
          id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
          abbreviation: Section sales 10%
          tax_rate: 0.08
        - search_key: Sales not covered
          name: Taxable sales 10% of total
          available: true
          id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
          abbreviation: Section sales 10%
          tax_rate: 0.08
      properties:
        taxes:
          items:
            $ref: '#/components/schemas/Tax'
          type: array
      required:
      - taxes
      type: object
    Account:
      example:
        search_key: 現金
        account_group: ASSET
        sub_accounts:
        - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          search_key: 現金
          name: 小口現金
          id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
          tax_id: 3uHWBCFlkrY_QmW0yo06Eg
        - account_id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          search_key: 現金
          name: 小口現金
          id: Sb0m10vvYk2dUdLU8aGxgQ%3D%3D
          tax_id: 3uHWBCFlkrY_QmW0yo06Eg
        name: 現金
        available: true
        id: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
        category: CASH_AND_DEPOSITS
        financial_statement_type: BALANCE_SHEET
        tax_id: 3uHWBCFlkrY_QmW0yo06Eg
      properties:
        id:
          description: Account ID
          example: BowMhLnFvzZ1y9TeF5%2B3QQ%3D%3D
          nullable: false
          type: string
        financial_statement_type:
          description: Financial statement category
          enum:
          - BALANCE_SHEET
          - PROFIT_LOSS
          - COST_REPORT
          - REAL_ESTATE
          - UNKNOWN
          example: BALANCE_SHEET
          nullable: false
          type: string
        name:
          description: Account name
          example: 現金
          nullable: false
          type: string
        available:
          description: Active
          example: true
          nullable: false
          type: boolean
        tax_id:
          description: Tax category ID
          example: 3uHWBCFlkrY_QmW0yo06Eg
          nullable: false
          type: string
        search_key:
          description: Search key
          example: 現金
          nullable: true
          type: string
        sub_accounts:
          items:
            $ref: '#/components/schemas/SubAccount'
          nullable: false
          type: array
        account_group:
          $ref: '#/components/schemas/AccountGroups'
        category:
          description: " - \"CASH_AND_DEPOSITS\": Cash and deposits\n - \"TRADE_RECEIVABLES\": Trade receivables\n\
            \ - \"MARKETABLE_SECURITIES\": Marketable securities\n - \"INVENTORIES\": Inventories\n -\
            \ \"OTHER_CURRENT_ASSETS\": Other current assets\n - \"PROPERTY_PLANT_AND_EQUIPMENT\": Property,\
            \ plant and equipment\n - \"INTANGIBLE_ASSETS\": Intangible assets\n - \"INVESTMENTS_AND_OTHER_ASSETS\"\
            : Investments and other assets\n - \"DEFERRED_ASSETS\": Deferred assets\n - \"OWNERS_DRAWINGS\"\
            : Owner's drawings\n - \"SUNDRIES\": Sundries\n - \"TRADE_PAYABLES\": Trade payables\n - \"\
            OTHER_CURRENT_LIABILITIES\": Other current liabilities\n - \"NON_CURRENT_LIABILITIES\": Non-current\
[...]
